/*------------------------------------------------------------------
[Table of Contents]

    Global Styles
    Widgets
    Offcanvas
    Content
    Products Archive
    Single Product
    Fresco/Lightbox
    WP Gallery
    Comments
    Footer	
	
[/Table of Contents]
-------------------------------------------------------------------*/


/**********************************************************************************/
/* Global Styles ******************************************************************/
/**********************************************************************************/

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
}

a {	
	-webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

.entry-content a {	
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.entry-content a:hover {
	opacity: 0.7;
}


body {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

html.overflow-y-hidden,
body.overflow-y-hidden
{
	overflow:hidden;
}

h1:first-child {
	margin-top:-0.13em;
}

ins {
	text-decoration:none;
}

article {
	margin-bottom:40px;
}

.woocommerce-page article {
	margin:0;
}

address {
	font-size: 1rem;
	line-height:1.5rem;
	margin-bottom:15px;
	font-style: normal;
}

audio {
	visibility:hidden;
}

pre {
	background:#fafafa;
	padding:23px 30px;
	line-height:1.8em;
	border:1px solid #ddd;
	margin-bottom:30px;
    color: #5f5b5b;
}

table {
	width:100%;
	margin-bottom:40px;
	background:none;
}

table thead th {
	text-transform:uppercase;
	font-size:13px !important;
}

table tbody th {
	font-weight:normal;
}

table tr
{
	text-align:left;
	border-collapse: collapse;
}

table tr td
{
	border-top-width:1px;
	border-top-style:solid;
}

table tbody tr:last-child td
{
	border-bottom: none;
}

table tfoot,
table thead
{
    background: none;
}

blockquote {
	margin:0 0 40px 0;
	padding:0;
	border:0;
	font-size:30px;
	color:#000;
	line-height:1.3em;
	/*padding:20px 0 0 60px;*/
}

blockquote cite {
	margin:20px 0 0 0;
	font-style:normal;
	font-weight:bold;
	line-height: 20px;
}

ul, ol, dl {
	margin-bottom: 0;
}

dl {
	/*padding:30px 0 30px 60px;*/
}

dl dt {
margin-bottom: 0.8rem;
}

dl dd {
	margin:0;
}

dl.wp-caption {
	padding:0;
}

dd {
	padding-bottom:30px;
}

.row-relative {
	position: relative;
}

.vertical-aligned { 
	margin: auto;
	position: absolute;
	top: 50%;
	/*-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);*/
	margin-top:-20px;
}

.vertical-aligned.to-left {
	left:0; right:auto;
}

.vertical-aligned.to-right {
	right:0; left:auto;
}


/**********************************************************************************/
/* Widgets ************************************************************************/
/**********************************************************************************/

.widget-area {
	font-size:16px;
}

.widget {
	margin-bottom:50px;
}

.widget a {
	font-weight:700;
}

.widget form {
	margin:0;
}

.widget 
{
	ul,
	ol
	{
		margin:0 0 0 0;
		font-size: 15px;
		line-height: 20px;
		list-style:none;
	}
	
	&.widget_text
	{
		ul,
		ol
		{
			margin-bottom: 1.25rem; 
			margin-left: 1.1rem; 
			
		}

		ul
		{
			list-style-type: inherit; 
		}

		ol
		{
			list-style-type: decimal; 
		}
	}
}

.widget ul .children,
.widget ul .sub-menu,
.widget ol .children,
.widget ol .sub-menu
{
	margin:5px 0 5px 20px;
}


.widget li {
	margin:0 0 17px 0;
}

.widget .post-date {
	display:block;
}

.widget .recentcomments,
.widget_recent_entries li,
.shop_sidebar .widget_recent_entries li
{
	position:relative;
	margin-bottom: 17px
}

.widget.widget_recent_entries ul li a
{
	font-weight: bold;
}

.widget.widget_recent_entries ul li span
{
	font-size: 0.8125rem;
}

.widget.widget_recent_entries ul li:before {
/*	display: none;*/
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	content:"\f15c";
	position:absolute;
	top: 0;
	left: 0px;
	width:20px;
	height:20px;
}

.widget.widget_recent_entries ul li:first-child:before
{
	top: 7px;
}

.widget .recentcomments,
.widget.widget_recent_entries ul li
{
	padding-left: 20px;
}

.widget .recentcomments:before {
/*	display: none;*/
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	content:"\f075";
	position:absolute;
	top: 0;
	left: 0px;
	width:20px;
	height:20px;
}

.widget .recentcomments:first-child:before
{
	top: 7px;
}

.widget .recentcomments a {
	/*display: block;
	font-style:normal;*/
	display: block !important;
	font-weight: bold;
}

.widget .cat-item {
	text-transform:capitalize;
	margin-bottom: 10px;
}


.widget .tagcloud
{
	margin-top: 26px;
	margin-bottom: -5px;
}

.widget .tagcloud a {
    border-width: 1px;
	border-style: solid;
    border-radius: 13px;
    display: inline-block;
    font-size: 12px !important;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-right: 2px;
    padding: 6px 13px 4px;
    text-transform: uppercase;
    word-wrap: break-word;
}

#site-footer .widget .tagcloud a,
.widget .tagcloud a
{
	color: #999;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.widget .tagcloud a:hover {
	color:#fff !important;
	border: 1px solid;
}

.widget .textwidget {
	line-height:1.375em;
}

.entry-content .widget ins
{
	background: none;
	color: #888;
}

.widget .amount {
	margin-top: 5px;
	display: inline-block;
}

.widget del .amount {
	font-size:1em;
	text-decoration: line-through;
}

.widget_archive li {
	margin:0 0 5px 0;
}

.widget_meta li {
	margin:0 0 5px 0;
}

.widget_rss .widget-title a {
	color:#000;
	font-weight:bold !important;
}

.widget_rss .widget-title a:first-child {
	display:none;
}

.widget_rss .rss-date,
.widget_rss cite
{
	display:block;
	padding:10px 0;
	color:#555;
	font-style:italic;
}

.widget_rss .rssSummary {
	display:block;
}

.widget_calendar table {
	border:0;
}

.widget_calendar table tr td {
	border:0;
}

.widget_calendar table thead, 
.widget_calendar table tfoot
{
	background:none;
}

.widget_calendar caption {
	font-size: 0.8125rem;
	padding:0 0 10px 0;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}

.widget_calendar table thead th
{
	font-size: 0.875rem !important;
	font-weight: 700;
}

.widget_calendar table tr
{
	border: none;
}

.widget_calendar table tr td
{
	font-size: 0.8125rem;
}

.widget_calendar table tr th,
.widget_calendar table tr td
{
	text-align:left;
}

.widget_calendar table thead tr th, 
.widget_calendar table tfoot tr td
{
	padding: 0;
}

.widget_calendar table tr.even,
.widget_calendar table tr.alt,
.widget_calendar table tr:nth-of-type(even)
{
	background:none;
}

.widget_calendar #prev {
	text-align:left;
}

.widget_calendar #next {
	text-align:right;
}

.widget_calendar #today
{
	font-weight: 700;
}

.widget_product_search,
.widget_search
{
	/*margin: 0;*/
	position: relative;
}

.widget_product_search label,
.widget_search label
{
	display: none;
}

.widget_product_search input,
.widget_search input
{
	margin:0;
	padding:0 10px;
}

.widget_product_search #searchsubmit,
.widget_search #searchsubmit,
.widget_product_search .search-submit,
.widget_search .search-submit
{
	position:absolute;
	bottom:2px;
	right:2px;
	padding:9px 10px 8px 10px;
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
}


.widget_shopkeeper_social_media .widget-title
{
	margin-bottom: 16px;
}

.widget_shopkeeper_social_media a
{
	font-size: 0;
}

.widget_shopkeeper_social_media a:before
{
	display: inline-block;
	font-size: 24px;
	padding: 10px 20px 10px 0;
	margin-right: 10px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.widget_shopkeeper_social_media a:first-of-type:before
{
	/*padding-left: 0 !important;*/
}

.widget a.widget_connect_facebook:before {
	content:"\f09a";
}

.widget a.widget_connect_pinterest:before {
	content:"\f0d2";
}

.widget a.widget_connect_linkedin:before {
	content:"\f0e1";
}

.widget a.widget_connect_twitter:before {
	content:"\f099";
}

.widget a.widget_connect_googleplus:before {
	content:"\f0d5";
}

.widget a.widget_connect_rss:before {
	content:"\f09e";
}

.widget a.widget_connect_tumblr:before {
	content:"\f173";
}

.widget a.widget_connect_instagram:before {
	content:"\f16d";
}

.widget a.widget_connect_youtube:before {
	content:"\f16a";
}

.widget a.widget_connect_vimeo:before {
	content:"\f194";
}

.widget a.widget_connect_behance:before {
	content:"\f1b4";
}

.widget a.widget_connect_dribble:before {
	content:"\f17d";
}

.widget a.widget_connect_flickr:before {
	content:"\f16e";
}

.widget a.widget_connect_git:before {
	content:"\f1d3";
}

.widget a.widget_connect_skype:before {
	content:"\f17e";
}

.widget a.widget_connect_weibo:before {
	content:"\f18a";
}

.widget a.widget_connect_foursquare:before {
	content:"\f180";
}

.widget a.widget_connect_soundcloud:before {
	content:"\f1be";
}

.widget a.widget_connect_vk:before {
	content:"\f189";
}

.widget a.widget_connect_houzz:before {
	content:"\f27c";
}

.widget a.widget_connect_naver:before {
	content:"\e91f";
	font-family: 'Shopkeeper-Icon-Font';
}


.widget_shopping_cart_content
{
	position: relative;
	/*min-height: 87px;*/
	margin-top: 30px;
}

.widget_shopping_cart_content .product-thumbnail
{
	width: 80px;
	min-width: 80px;
	max-width: 80px;
}

.widget_shopping_cart_content tr
{
	vertical-align: top;
}

.widget_shopping_cart_content tr td
{
	font-size: 14px;
	line-height: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.widget_shopping_cart_content tr .product-thumbnail,
.widget_shopping_cart_content tr .product-name
{
		padding-right: 20px;
}

.widget_shopping_cart_content tr:first-child td
{
	padding-top: 0px;
	border: none;
}

.widget_shopping_cart_content tr:last-child td
{
	padding-bottom: 0px;
}

.widget_shopping_cart_content tr td.product-remove .remove
{
	font-size: 16px;
}

.widget_shopping_cart_content .product-name a
{
	display: block;	
}

.woocommerce td.product-name dl.variation,
.woocommerce-page td.product-name dl.variation {
	margin: 6px 0 1px;
	color: #888;
}

.woocommerce td.product-name dl.variation dd,
.woocommerce-page td.product-name dl.variation dd {
	padding: 0;
}

.woocommerce td.product-name dl.variation dt,
.woocommerce td.product-name dl.variation dd,
.woocommerce td.product-name dl.variation dt p,
.woocommerce td.product-name dl.variation dd p,
.woocommerce-page td.product-name dl.variation dt,
.woocommerce-page td.product-name dl.variation dd p,
.woocommerce-page td.product-name dl.variation dt p,
.woocommerce-page td.product-name dl.variation dd p
{
	font-size: 1rem;
	margin: 0;
}

.woocommerce td.product-name dl.variation dt,
.woocommerce-page td.product-name dl.variation dt {
	padding: 0;
	margin-right: 5px;
	font-weight: normal;
	text-transform: uppercase;
}

.widget_shopping_cart_content table
{
	margin-bottom: 0;
}

.woocommerce .widget_shopping_cart .total,
.woocommerce-page .widget_shopping_cart .total,
.woocommerce-page.widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total
{
	border-top: none;
	padding: 5px 0 25px;
	margin: 0;
}

.widget_shopping_cart .total .subtotal_name {
	display:inline-block;
	font-size:13px;
	text-transform:uppercase;
	color:#555;
}

.widget_shopping_cart .total .amount {
	font-size: 1.3125rem;
	font-weight: 700;
	display:inline-block;
	margin-top: 0;
	text-align:right;
	float:right;
	
}

.widget_shopping_cart .buttons
{
	margin-bottom: 0;
}

.widget_shopping_cart .buttons a {
	width:100%;
	margin:0 0 10px 0;
}

.widget_shopping_cart .buttons a:after
{
	display: none;
}

.widget_shopping_cart .buttons a.view_cart
{
	background: none !important;
	border: 2px solid;
	box-shadow:none;
	padding-top: 14px !important;
	padding-bottom: 14px !important;
	
	transition: all 0.3s;
	-webkit-transition: 0.3s;
}

.widget_shopping_cart .buttons a.view_cart:hover
{
	background: #000 !important;
	border: 2px solid #000;
	color: #fff !important;
}

.widget_shopping_cart .buttons a.checkout
{
	margin-bottom: 0;
}

.widget-cart-empty-banner
{
	position: absolute;
	left: 0;
	top: 0;
}

.cart-empty-box
{
	width: 87px;
	height: 78px;
	background-image: url('../images/empty_cart_widget.png');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 87px 78px;		
	display: inline-block;
}

.cart-empty-text
{
	font-weight: 700;
	font-size: 1.3125rem;
	line-height: 1.625rem;
	padding-left: 107px;
}

.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget,
.woocommerce-page ul.cart_list,
.woocommerce-page ul.product_list_widget
{
	margin-top: 27px;
}

.widget_recent_reviews .product_list_widget li a:first-child,
.widget_top_rated_products .product_list_widget li a:first-child
{
	margin-top: 22px;
	margin-bottom: 2px;
}

.widget_recent_reviews ul.product_list_widget li img,
.widget_top_rated_products ul.product_list_widget li img
{
	margin-top: -22px !important;
}

.product_list_widget .star-rating
{
	font-size: 11px;
	position: absolute;
	top: 0;
}


/**********************************************************************************/
/* Offcanvas **********************************************************************/
/**********************************************************************************/

.right-off-canvas-menu-content {
	padding:20px 30px;
	color:#fff;
}

.right-off-canvas-menu-content a {
	color:#ccc;
}

.right-off-canvas-menu-content a:hover {
	color:#999;
}

.right-off-canvas-menu-content .widgettitle {
	color:#fff;
	margin-bottom:20px;
}

.right-off-canvas-menu-content .buttons a {
	width:100%;
}


.shop_sidebar .widget ul .children
{
	margin: 10px 0px 10px 20px;
}

/**********************************************************************************/
/* Content ************************************************************************/
/**********************************************************************************/

.without-sidebar {
	/*text-align:center;*/
}

.page-header {
	margin-bottom:55px;
}

.content-area {
	padding:85px 0 0 0;
}

.page-template-default .entry-header.with_featured_img,
.page-template-default .entry-header.with_featured_img
{
	margin-top: -85px;
}

ul,
ol {
	margin:0.875em 0 0.875em 2.1875em;
}

.wp-caption {
	max-width:100%;
}

.entry-thumbnail {
	text-align:center;
}

.entry-thumbnail img
{
    /* margin-bottom:65px;*/   
}

.entry-meta {
	margin: 51px 0 0 0;
	line-height:1.8em;
	font-size:.85em;
	/*font-style:italic;*/
	text-align:center;
}

.edit-link {
	margin: 30px 0;
}

.without-sidebar .entry-meta {
	/*text-align:center;*/
}

.entry-meta ul {
	list-style:none;
	padding:0;
	margin:0;
}

.entry-meta ul li {
	display:inline-block;
	margin-right:20px;
}

.author-info {
	padding:0 0 0 100px;
	position:relative;
	margin:50px 0 0 0;
	text-align:left;
}

.author-avatar {
	position:absolute;
	left:0;
	top:.3em;
	width:70px;
	height:70px;
	overflow:hidden;
}

.author-avatar img {
	width:70px;
	height:70px;
}

.author-link {
	display:inline-block;
}

.wp-caption-text {
	color:#999;
	margin-top:10px;
	font-size:14px;
	line-height: 16px;
}

.attachement {
	text-align:center;
	margin-bottom: 80px;
}

.attachement .entry-content {
	margin-top:40px;
}

.entry-meta-attachment,
.previous-image,
.next-image
{
	line-height:1.8em;
	font-size: 1.125rem;
}

.entry-meta-attachment
{
	padding:3px 0 8px; 
}

/* Image Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.previous-image,
.next-image
{
	padding:15px 0 0px; 
}

.next-image a,
.previous-image a 
{
	color: #adadad;
	font-size: 13px;
	line-height: 1;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
}

.next-image a
{
	padding-right: 5px;
}

.previous-image a
{
	padding-left: 5px;
}

.previous-image
{
	text-align:left;
}

.next-image
{
	text-align:right;
	text-transform: uppercase;
}

.previous-arrow,
.next-arrow
{
	display: inline-block;
	line-height: 1;
	position: relative;
	top: 1px;
}

#nav-below {
/*	margin:50px 0 0px;*/
}

.nav-previous {
	text-align:left;
	line-height:1.8em;
}

.nav-next {
	text-align:right;
	line-height:1.8em;
}

.nav-previous-title,
.nav-next-title
{
	font-size:0.619em;
	line-height: 28px;
	font-weight: bold;
	text-transform: uppercase;
}


/**********************************************************************************/
/* Products Archive ***************************************************************/
/**********************************************************************************/

.products-grid {
	-webkit-backface-visibility: hidden;
}

.woocommerce  ul.products-grid,
.woocommerce-page  ul.products-grid
{
	margin: 0px -10px 16px;
}

.products li {
	position:relative;
}

.site-content .products li {
	margin-bottom:6px;
}

.products li img {
	width:100%;
	height:auto;
}


/**********************************************************************************/
/* Single Product *****************************************************************/
/**********************************************************************************/


.woocommerce .woocommerce-product-rating .star-rating,
.woocommerce-page .woocommerce-product-rating .star-rating
{
	margin: 0;
	float: none;
	display:inline-block;
	top:4px;
}

.woocommerce-product-details__short-description 
{
	margin:0 0 40px 0;
}

.variations_lines {
	padding: 0;
}

.big-select
{

	opacity:0;
	width: 230px;
	height: 48px;
	margin: 0;
	padding: 0;
 
}

.big-select.alignright
{
/*	margin:0 -5px 0 0;
	direction: rtl;*/
}

.big-select:hover
{
	background-color:transparent;
}

.big-select:focus
{
	outline: none;
}

.reset_variations {
	margin:11px 0 0 0;
	display:inline-block;
	font-size:1rem;
}

.single_variation_wrap {
}

.single_variation {
	margin: 22px 0 26px;
}

.woocommerce-tabs {
	margin:0px;
}

.product_meta {
	text-align:center;
	margin:30px 0;
}

// .single_product_summary_related h2,
// .single_product_summary_upsell h2
// {
// 	font-size:1.5em;
// 	margin:54px 0 26px 0;
// }



/**********************************************************************************/
/* WP Gallery *********************************************************************/
/**********************************************************************************/

.gallery {
	margin:20px 0 !important;
}

.gallery dl dt {
	padding:0;
	margin:0;
}

.gallery-item {
	margin:0 !important;
}


/**********************************************************************************/
/* Comments ***********************************************************************/
/**********************************************************************************/

.comments-area {
	margin:36px 0 25px;
}

.comments-title {
	font-size:1.5rem;
	line-height: 2rem;
	font-weight:normal;
	text-align: center;
}

.comments-area article {
	padding:19px 0;
	margin:0;
}

.comment-list {
	list-style:none;
	padding:0;
	margin: 17px 0 0 !important;
}

.comment-list ul.children {
	list-style:none;
	margin: 0 0 1em 0;
}

.comment-content {
	padding:0;
	position:relative;
}

.comment-content .comment-author,
.comment-content .comment-metadata{
	padding:0 0 0 55px;
}

.comment-author-avatar {
	position:absolute;
	left:0;
	top:5px;
	width:36px;
	height:36px;
	overflow:hidden;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
}

.comment-author-avatar img {
	width:36px;
	height:36px;
}

.comment-author {
	padding:0;
	margin:0;
	display:inline-block;
	text-transform: capitalize;
	font-size: 1.125rem;
}

.comment-metadata time {
	font-size:14px;
	color: #999999;
}

.comment-text p
{
	margin:15px 0 10px 0
}

.comment-reply
{
	padding-right:20px;
}

.comment-reply i,
.comment-edit-link i
{
	font-size:13px;
	margin-right:5px;
}

.comment-reply {
	font-size:14px;
}

.comment-edit-link {
	font-size:14px;
}

.comment-awaiting-moderation {
	font-style:italic;
	color:#999;
	font-size:14px;
}

.comment-respond {
	margin:0px 0 30px 0;
}

.comment-respond label {
/*	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:7px;
	font-size:.8em;*/
}

#reply-title {
	font-size:30px;
	font-weight:normal;
	padding:0 0 5px 0;
	margin:0;
	text-align: center;
}

.logged-in-as,
.comment-notes {
	text-align: center;
	margin-bottom: 30px;
}

.comment-notes {
	color: #777;
}

textarea#comment {
	height:200px;
	line-height:1.8em;
}


/**********************************************************************************/
/* Footer *************************************************************************/
/**********************************************************************************/

#site-footer {
	padding:60px 0 30px;
}

/*.site-footer-widget-area .columns:nth-child(2n+1) {
	clear:left;
}*/

.site-footer-widget-area .columns:last-child {
	float:left;
}

#site-footer .widget-title {
	text-transform: uppercase;
	font-weight: bold;
}

.payment_methods
{
	text-align: center;
}

.payment_methods img {
	max-height:30px;
	width:auto;
	margin-bottom: 17px;
}

.copyright_text {
	font-size:14px;
	line-height: 20px;
	padding:0;
	text-align:center;
}