/*------------------------------------------------------------------
[Table of contents]
	
	Landscape Phone to Portrait Tablet, Portrait Tablet (min-width 481px)
		Portfolio
			Portfolio Related Items
			
	Small Screens (max-width 640px)
		Visual Composer Shortcodes
	
	Medium Screens (min-width 641px)
		Global
		Forms
		Header
		Footer
		Blog
			Blog Isotope Listing
			General
			Blog listing
			Standard Post Format
			Quote
			Gallery
			Navigation
				Paging Navigation
			Error 404
			No results
			Comments
			Widgets
		My account login/register
		My account logged-in
			Edit account
			Billing Address/Shipping Address
			View Order
			Checkout - Thank you
		Order Tracking
		Shop Catalog
		Product Single
		Cart
			Cart Buttons
			Empty Cart / Wishlist 
		Checkout	
		Wishlist
		Portfolio
			Portfolio Single
		WooCommerce Messages
		WooCommerce Categories Grid
		Visual Composer Shortcodes
			General
			Separators
			Tabs & Tour Sections
			Tabs/Accordions/Toggles/Tour fix - jQuery ui
			Message Boxes
			Toggles
			Accordions
			Progress Bars
			
	Landscape Tablet, Large Screens	(min-width 901px)
		Portfolio
			Portfolio Related Items
			
	Medium Screens Only (min-width 641px and max-width 1023px) 
		Visual Composer Shortcodes
		
	Small Screens / Medium Screens (max-width 1023px)
		Visual Composer Shortcodes
		
	Large Screens(min-width 1023px)
		Global
		Forms
		Header
		Blog
			Blog Isotope listing
			General
			Standard post format
			Error 404
			No Search Results
			Comments
		My account login/register
		My account logged-in
			View Order
			Checkout - Thank you
		Cart
			Empty Cart / Wishlist
		Checkout
		Wishlist
		Shop Catalog
		Product Single
		Offcanvas Left
		Footer
		WooCommerce Messages
		Visual Composer Shortcodes
			General
			Visual Composer Rows
			Blog Posts
			Tabs & Tour Sections
			Banner
		
	Large Screens (min-width 1025px)
		Gallery
		
	Xlarge Screens	(min-width 1265px)
		Top bar
		Portfolio
			Portfolio Default - 3 Items per Row
			Portfolio Related Items
		Checkout
		My account Logged-in

	Xlarge Screens (min-width 1441px)
		Product Single
		
	Xlarge Screens (min-width 1601px)
		Portfolio
		Portfolio Default - 3 Items per Row
		Portfolio Related Items
		
[/Table of contents]
-------------------------------------------------------------------*/


/* min-width 481px, landscape phone to portrait tablet, portrait tablet */

@media only screen and (min-width: 30.063em) {
	
	/**********************************************************************************/
	/* Portfolio **********************************************************************/
	/**********************************************************************************/
	
	.portfolio-grid-sizer
	{
		width: 50%;
	}
	
	.portfolio-box,
	.portfolio_related_item
	{
		width: 50%;
		padding-bottom: 50%;
	}
	
	.portfolio-box.width2
	{
		width: 100%;
		padding-bottom: 50%;
	}
	
	.portfolio-box.width2.height2
	{
		width: 100%;
		padding-bottom: 100%;
	}
	
	
	/* portfolio related items */
	
	.portfolio_related_item.item_2.empty
	{
		display: block;
	}
		
	.portfolio_related_item.item_1.empty .hover-effect-link
	{
		border-right: 1px solid #ddd;
	}

}


/* max-width 640px, small screens */
@media only screen and (max-width: 40.063em) {
	
	.order-info mark
	{
		background: none!important;
	}

	.woocommerce-order-received h2
	{
		margin-bottom: 13px;
	}

	.content-area
	{
		padding: 40px 0 0 0;
	}

	.transparent_header.sticky_header .page-title-shown .entry-header.with_featured_img,
	.sticky_header .page-title-shown .entry-header.with_featured_img
	{
		margin-top: -40px;
	}

	.page-template-default .transparent_header .entry-header.with_featured_img
	{
		margin-top: -40px;
	}
	
	
	.list_shop_categories
	{
		.category_item > a
		{
			font-size: 10px; 
		}
	}


	#button_offcanvas_sidebar_left>span
	{
		padding-right: 4px;
		display: inline-block; 
	}

	.woocommerce-ordering select.orderby
	{
		padding-top: 0; 
		padding-bottom: 0; 
		height: auto;
		line-height: 24px;
		font-size: 10px !important;
	}

	#button_offcanvas_sidebar_left .filters-text
	{
		font-size: 10px; 
	}


	.catalog-ordering .select2-container.topbar-language-switcher, .select2-container.wcml_currency_switcher
	{
		font-size: 10px !important; 
	}
	
	/**********************************************************************************/
	/* Visual Composer Shortcodes  ****************************************************/
	/**********************************************************************************/
	
	.full-width-page .columns
	{
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
	
	.wpb_wrapper .vc_separator h2
	{
		font-size: 1.875em !important;
		line-height: 1.33333em !important;
	}

	.top-headers-wrapper
	{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 50px;
		overflow: hidden;
		z-index: 999;
	}

	#page_wrapper
	{
		padding-top: 50px;
	}

	.page-template-page-blank #page_wrapper
	{
		padding-top: 0;
	}

	#masthead
	{
		padding-top: 8px;
		padding-bottom: 9px;
	}

	.site-tools.offset
	{
		margin-top: -8px;
	}

	.site-tools.offset ul li 
	{
		height: 50px;
	}

	.site-tools.offset ul li .tools_button
	{
		margin-top: 7px;
	}

	.account-tab-list .account-tab-link,
	.account-tab-list .sep
	{
		font-size: 1.5rem;
	}

	.account-tab-list .sep
	{
		margin: 0 10px;
	}

	.woocommerce .login-register-container p.form-row.remember-me-row,
	.woocommerce .login-register-container p.form-row.remember-me-row a,
	.woocommerce .login-register-container p.form-row.remember-me-row label
	{
		font-size: 0.6875rem;
	} 

	.login-register-container
	{
		margin: 15px 0 40px 0;
	}
}


/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
	
	/**********************************************************************************/
	/* Global *************************************************************************/
	/**********************************************************************************/
	
	.row {
		padding:0 50px;
	}

	.row .row {
		padding:0;
	}
	
	h1, h2
	{
		line-height: 1.13;
	}
	
	h1 {
	    font-size: 3.125rem;
	}
	
	h2 {
		font-size: 2.3125rem;
	}
	
	h3 {
		font-size: 1.875rem;
		line-height: 1.2em;
	}
	
	h4 {
		font-size: 1.4375rem;
		line-height: 1.391304em;
	}
	
	h5 {
		font-size: 1.125rem;
		line-height: 1.55555em;
	}
	
	h6 {
		line-height: 1.625em;
	}
	
	.single .entry-title
	{
		font-size: 4.6875rem;
	}
	
	.page-title
	{
		font-size: 3.125rem;
		margin-bottom: 28px;
		line-height: 1;
	}
	
	
	p
	{
		line-height: 1.5;
		margin-bottom: 1.25rem;
	}
	

	
	/**********************************************************************************/
	/* Forms  *************************************************************************/
	/**********************************************************************************/
	
	.woocommerce form .form-row-first,
	.woocommerce-page form .form-row-first,
	.woocommerce form .form-row-last,
	.woocommerce-page form .form-row-last
	{
		width: 48%;
	}
	
	button,
	.button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"]
	{
		width: auto;
	}
	
	.woocommerce .woocommerce-ordering,
	.woocommerce-page .woocommerce-ordering
	{
		margin-left: 0px;
		margin-right: 0px;
	}
	.woocommerce-ordering select.big-select
	{
		width: auto !important;
	}
	

	/**********************************************************************************/
	/* Footer *************************************************************************/
	/**********************************************************************************/
	
	#site-footer {
		padding:80px 0 30px;
	}
	
	.trigger-footer-widget-area {
		display:none;
		
	}
	
	.site-footer-widget-area
	{
		display: block;
		margin-bottom: 60px;
	}
	
	#site-footer .button.checkout.wc-forward
	{
		margin-bottom: 30px;
	}
	
	.site-footer-widget-area .columns:nth-child(2n+1) {
		clear:left;
	}

	.footer_socials_wrapper
	{
		margin-bottom: 34px;
	}
	
	.footer-navigation-wrapper ul
	{
		margin-bottom: 34px;
	}
	
	.footer-navigation-wrapper ul li
	{
		display: inline-block;
		padding-right: 14px;
		margin: 0px 10px 15px 0;
		position: relative;
	}
	
	.footer-navigation-wrapper ul li:after
	{
		content: "";
		display: inline-block;
		width: 0;
		height: 100%;
		border-right: 1px solid;
		
		opacity: 0.5;
		
		position: absolute;
		top: -1px;
		right: 0;
	}
	
	.footer-navigation-wrapper ul li:last-child:after
	{
		display: none;
	}
	
	.payment_methods
	{
		text-align: left;
	}
	
	.payment_methods img
	{
		margin-bottom: 0;
	}
	
	#site-footer .copyright_text
	{
		margin-bottom: 46px;
	}
	
	
	/**********************************************************************************/
    /* Blog ***************************************************************************/
    /**********************************************************************************/ 
	
	/* blog isotope listing */

	.blog-isotope .blog-post,
	.blog-isotope .grid-sizer
	{
		width: 50%;
		padding-left: 35px;
		padding-right: 35px;
	}
	
	
	/* General */
	
	.page-header {
		margin-bottom:104px;
	}
	
	.content-area {
		/*margin:75px 0 0 0;*/
		/*min-height: 400px;*/
	}
	
	.entry-header-page
	{
		margin-bottom: 80px;
	}
	
	
	/* Blog listing */

	.blog-isotop-container
	{
		padding: 0 0px 90px;
		margin-left: 0;
		margin-right: 0;
	}
	
	.post_meta_archive,
	.entry-title-archive span,
	.gallery-title,
	.entry-content-archive,
	.blog #nav-below.paging-navigation,
	.archive #nav-below.paging-navigation
	{
		margin-left: 0px;
		margin-right: 0px;
	}
		
	.thumbnail_archive
	{
		margin-top: 0px;
	}
	
	.page-title-desc,
	.page-type
	{
		margin-bottom: 20px;
	}
	
	.blog-isotope .entry-content-archive h1,
	.blog-isotope .entry-content-archive h2,
	.blog-isotope .entry-content-archive h3,
	.blog-isotope .entry-content-archive h4,
	.blog-isotope .entry-content-archive h5
	{
		line-height: 1.55555em;
		margin-bottom: 1.25rem;
	}
	
	.blog-isotope .entry-content-archive,
	.blog-isotope .entry-content-archive p,
	.blog-isotope .entry-content-archive ul,
	.blog-isotope .entry-content-archive ol,
	.blog-isotope .entry-content-archive dl
	{
		line-height: 1.5em;
		margin-bottom: 1.25rem;
	}
	
	.more-link
	{
		margin-top: 1rem;
	}
	
	.blog-isotope .blog-post .blog-post-inner
	{
		padding-bottom: 60px;
	}

	
	/* Standard post format */
	
	.entry-thumbnail
	{
		margin:0 0px  58px;
	}
	
	.single-post-header.with-thumb .title
	{
		padding: 225px 0 220px 0;
	}
	
	.post_meta:before
	{
		margin: 39px auto 43px;
	}
	
	.blog-single .wp-caption-text,
	.blog-page .wp-caption-text
	{
		position: absolute;
		bottom:25px;
		width: 180px;
		padding:15px 20px;
		background: #333333;
		margin: 0;
	}
	
	.blog-single .wp-caption.alignnone .wp-caption-text,
	.blog-page .wp-caption.alignnone .wp-caption-text
	{
		right: -25px;
	}

	.blog-single .wp-caption.aligncenter .wp-caption-text,
	.blog-page .wp-caption.aligncenter .wp-caption-text
	{
		right: -15px;
	}
	
	.blog-single .wp-caption.alignleft .wp-caption-text,
	.blog-page .wp-caption.alignleft .wp-caption-text
	{
		left: -25px;
	}

	.blog-single .wp-caption.alignright .wp-caption-text,
	.blog-page .wp-caption.alignright .wp-caption-text
	{
		right: -15px;
	}
	

	
	/* Quote */
	
	blockquote p {
		padding-left: 43px;
	}

	
	/* gallery */
	
	.gallery br {
		height:0;
		display:block;
	}
	
	.gallery-columns-1 dl.gallery-item
	{
		width: 100% !important;
		padding-bottom: 100% !important;
	}
	
	.gallery-columns-2 dl.gallery-item 
	{
		width: 50% !important;
		padding-bottom: 50% !important;
	}
	
	.gallery-columns-3 dl.gallery-item 
	{
		width: 33.3333333333% !important;
		padding-bottom: 33.3333333333% !important;
	}
	
	.gallery-columns-4 dl.gallery-item 
	{
		width: 25% !important;
		padding-bottom: 25% !important;
	}
	
	.gallery-columns-5 dl.gallery-item 
	{
		width: 20% !important;
		padding-bottom: 20% !important;
	}
	
	.gallery-columns-6 dl.gallery-item 
	{
		width: 16.6666666666% !important;
		padding-bottom: 16.6666666666% !important;
	}
	
	.gallery-columns-7 dl.gallery-item 
	{
		width: 14.285714% !important;
		padding-bottom: 14.285714% !important;
	}
	
	.gallery-columns-8 dl.gallery-item 
	{
		width: 12.5% !important;
		padding-bottom: 12.5% !important;
	}
	
	.gallery-columns-9 dl.gallery-item 
	{
		width: 11.1111111111% !important;
		padding-bottom: 11.1111111111% !important;
	}
	
	.gallery-item .gallery-caption
	{
		display: block;
		font-size: 1rem;
		text-align: left;
		line-height: 1.5em;
		color: #999;
		background: #000;
		padding: 9px 20px;
		
		opacity: 0;
		z-index: -1;
		
		position: absolute;
		right:  20px;
		bottom: 40px;
		left: 20px;
		
		transition: opacity 0.3s, bottom 0.3s, z-index 0s ease 0.3s;
		-webkit-transition: opacity 0.3s, bottom 0.3s, z-index 0s ease 0.3s;
	}
	
	.gallery-item .gallery-caption:after
	{
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 6px 0 6px;
		border-color: #000 transparent transparent transparent;
		
		position: absolute;
		bottom: -6px;
		right: 10px;
	}
	
	.gallery-item .gallery-caption.show
	{
		opacity: 1;
		z-index: 9;
		
		bottom: 60px;
		
		transition: opacity 0.3s, bottom 0.3s, z-index 0.3s;
		-webkit-transition: opacity 0.3s, bottom 0.3s, z-index 0.3s;
	}
	
	.gallery-caption-trigger
	{
		display: block;
		width: 24px;
		line-height: 24px;
		border-radius: 12px;
		background: rgba(255,255,255,0.3);
		font-size: 14px;
		font-style: italic;
		font-weight: bold;
		font-family: 'Georgia',sans-serif;
		
		position: absolute;
		right: 24px;
		bottom: 24px;
		z-index: 10;
		
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
	}
	
	.gallery-caption-trigger:hover
	{
		background: #fff;
	}
	
	
	/* Navigation */
	
	.paging-navigation,
	.post-navigation
	{
		background: none;
		height: auto;
		padding: 75px 0; 
	}

	.product_navigation .post-navigation
	{
		padding: 40px 0; 
	}
	
	.paging-navigation:after,
	.paging-navigation:before,
	.post-navigation:after,
	.post-navigation:before
	{
		display: none;
	}
	
	
	// #nav-below {
	// 	margin: 36px 0 57px;
	// }
	
	.nav-previous,
	.nav-next
	{
		margin-left:  0;
		margin-right: 0;
		font-size: 1.3125rem;
	}
		
	.nav-next a,
	.nav-previous a
	{
		font-size: 1.3125rem;
		background: none;
		display: inline-block;
		padding-top: 0;
		height: auto;
	}
	
	.nav-next a
	{
		text-align: right;
	}
	
	.nav-previous a
	{
		text-align: left;
	}
	
	.nav-next a:hover,
	.nav-previous a:hover
	{
		background: none;
	}
	
	.nav-next a:before,
	.nav-previous a:before
	{
		display: none
	}
	
	.nav-next .nav-next-title,
	.nav-previous .nav-previous-title
	{
		display: block;
	}
	
	.nav-next a span,
	.nav-previous a span
	{
		display: inline-block;
	}
	
	
	/* Paging navigation */
	#nav-below.paging-navigation
	{
		margin-bottom: 3px;
		padding: 0 1.5%;
	}
	
	.paging-navigation .nav-next
	{
		float: right;
	}
	
	.paging-navigation .fa
	{
		display: inline-block;
	}
	
	
	/* error 404 */
	/* no results */
	
	.error-404,
	.no-results
	{
		margin-top: 0px;
	}
	
	.error-404 .search-form,
	.no-results .search-form
	{
		display: inline-block;
		padding-bottom: 80px;
	}
	
	.error-404 input[type="text"],
	.error-404 input[type="search"],
	.no-results input[type="text"],
	.no-results input[type="search"]
	{
		width:300px;
		margin-right: 10px;
	}
	
	.error-404 h1.page-title
	{
		font-size: 3.75rem;
		margin-bottom: 23px;
	}
	
	.no-results h1.page-title
	{
		font-size: 6.25rem;
		margin-top: 100px;
		margin-bottom: 30px;
	}
	
	.error-404-text,
	.no-results-text
	{
		font-size: 1.5rem;
	}
	
	.error-banner img {
		max-width: none;
	}
	
	
	/* Comments */
	
	.comments-area {
		margin:86px 0 65px;
	}
	
	.comments-title {
		font-size : 30px;
		font-weight: normal;
		text-align : left;
	}
	
	.comment-list {
		margin: 64px 0 0 !important;
	}
	
	.comments-area article {
		padding:0;
	}
	
	.comment-content {
		padding: 0 0 0 100px;
	}
	
	.comment-author-avatar {
		width:80px;
		height:80px;
		-webkit-border-radius: 80px;
		-moz-border-radius: 80px;
		border-radius: 80px;
	}
	
	.comment-author-avatar img {
		width:80px;
		height:80px;
	}
	
	.comment-content .comment-author,
	.comment-content .comment-metadata{
		padding: 0;
	}
	
	.comment-metadata
	{
		margin-top: -2px;
		margin-bottom: 25px;
	}
	
	.comment-text p
	{
		margin:15px 0 23px;
	}
	
	.logged-in-as,
	.comment-notes,
	#reply-title {
		text-align: left;
	}
	
	.comment-respond {
		margin:30px 0 30px 0;
	}
	
	.logged-in-as,
	.comment-notes {
		margin-bottom: 1.25rem;
	}
	
	.comment-list > li:last-child .comment-separator
	{
		opacity: 0;
	}
	
	#respond
	{
		margin-top: -6px;	
	}
	
	#commentform .comment-notes
	{
		padding: 5px 0 31px;
	}
	
	#commentform .form-submit {
		margin-top: 20px;
	}
	
	.comment-separator
	{
		width: 100%;
		height: 0px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		margin:  32px 0;
	}
	
	
	
	/* Widgets */
	
	.widget {
		margin-bottom:80px;
	}
	
	
	/**********************************************************************************/
	/* My account login/register  *****************************************************/
	/**********************************************************************************/


	
	
	
	/* Edit account */
	
	.woocommerce form .form-row-first.first-name-row,
	.woocommerce-page form .form-row-last.last-name-row,
	.woocommerce form .form-row-first.password-row,
	.woocommerce-page form .form-row-last.repeat-password-row
	{
		width: 48%;	
	}
	
	
	/* Billing Address/Shipping Address */
	
	.shipping_billing_wrapper
	{
		float: left;
		width: 66.66666%;
	}
	
	.shipping_billing_wrapper h3
	{
		margin-top: 0.5rem;
	}
		
	.my_address_description
	{
		width: 33.33333%;
		margin-bottom:30px;
		padding-right: 52px;
		padding-bottom: 23px;
		float: left;
	}
	
	.billing_shipping_address_title
	{
		margin-top: 4px;
		margin-bottom: 13px;
	}
	
	
	/* View Order*/
	
	.order-info
	{	
		margin: 16px -60px 8px;
		padding-left: 60px;
		padding-right: 60px;
	}
	
	.order-info mark
	{
		font-size: 1.125rem;
		font-weight: 700;
		padding: 3px 10px;
		margin: 0 5px 5px;
		display: inline-block;
	}
	
	.shop_table.order_details_footer .product-total,
	.shop_table.order_details .product-total
	{
		width: 250px;
	}
	
	.woocommerce .shop_table.order_details tfoot th,
	.woocommerce-page .shop_table.order_details tfoot th
	{
		padding-left:28%;
	}
	
	.woocommerce .shop_table.customer_details
	{
		/*float: left;
		width: 33.33333%;*/
	}
	
	
	/* Checkout - Thank you */
	
	.woocommerce-thankyou-order-received
	{
		margin: 13px -500px 0;
		padding: 31px 500px;
		font-size: 1.125rem;
	}

	.woocommerce-thankyou-order-details + p
	{
			margin: 100px auto 16px;
	}

	// .woocommerce-order-received .wc-bacs-bank-details-heading
	// {
	// 	margin: 100px auto 16px; 
	// }

	// .woocommerce .woocommerce-thankyou-order-details li
	// {
	// 	display: inline-block;
	// 	float: none;
	// }

	// .woocommerce .order_details li
	// {
	// 	margin-right: 2em;
	// }

	
	.woocommerce-thankyou-order-details
	{
		padding-top: 40px;
	}
	
	.thank_you_bank_details
	{
		margin-top: 90px;
	}
	
	.woocommerce-checkout .content-area .billing_shipping_address_title
	{
		margin-top: 4px;
	}

	.woocommerce-checkout .shipping_billing_wrapper .columns:last-of-type
	{
		margin-top: 0px;
	}
	
	
	/**********************************************************************************/
	/* Order Tracking *****************************************************************/
	/**********************************************************************************/
	
	.track_order_form
	{
		width: 460px;
		max-width: 100%;
		margin: 0 auto 10px;
		padding: 43px 60px 60px;
	}
	
	.track_order_form.custom_border:after
	{
		display: block;
	}
	
	
	/**********************************************************************************/
	/* Shop Catalog *******************************************************************/
	/**********************************************************************************/
	
	.woocommerce  ul.products-grid,
	.woocommerce-page  ul.products-grid
	{
		margin: 0px -10px 36px;
	}
	
	.woocommerce-pagination
	{
		margin:0px 0 67px;
	}
	
	.shop_header
	{
		margin-bottom: 60px;
	}
		
	.products .out_of_stock_badge_loop,
	.out_of_stock_badge_single,
	.quickview-badges .out_of_stock_badge_single
	{
		font-size: 0.6875rem;
		// padding: 2px 8px 0 8px;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-font-smoothing: antialiased;
		font-weight: bold;
	}
	
	.woocommerce .products span.onsale,
	.woocommerce-page .products span.onsale,
	.woocommerce span.onsale,
	.woocommerce-page span.onsale,
	.quickview-badges span.onsale
	{
		font-size: 0.6875rem;
		padding: 2px 8px 0px 8px;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-font-smoothing: antialiased;
		font-weight: bold;
	}
	
	
	/**********************************************************************************/
	/* Product Single *****************************************************************/
	/**********************************************************************************/
	
	/**********************************************************************************/
	/* Cart ***************************************************************************/
	/**********************************************************************************/
	
	.cart_form
	{
		margin-bottom: 80px;
	}
	
	.cart_form .custom_border:after
	{
		display: block;
	}
	
	.woocommerce .cart_form .cart-collaterals,
	.woocommerce-page .cart_form .cart-collaterals
	{
		padding-bottom: 40px;
	}
	
	.cart_right_wrapper
	{
		margin: 0;
	}
	
	.woocommerce table.cart .product-thumbnail,
	.woocommerce #content table.cart .product-thumbnail,
	.woocommerce-page table.cart .product-thumbnail,
	.woocommerce-page #content table.cart .product-thumbnail
	{
	
		display: table-cell;
	}
	
	.woocommerce table.cart .product-name .amount-wrapper,
	.woocommerce #content table.cart .product-name .amount-wrapper
	{
		display: none;
	}
	
	.woocommerce table.cart .product-name,
	.woocommerce #content table.cart .product-name
	{
		padding-right: 40px;
	}
	
	.woocommerce td.product-quantity,
	.woocommerce-page td.product-quantity {
		min-width: 115px;
		padding-right: 0 !important;
		
		.quantity.custom
		{
			margin-right: 0;
		}
	}
	
	.woocommerce .quantity,
	.woocommerce #content .quantity,
	.woocommerce-page .quantity,
	.woocommerce-page #content .quantity
	{
		width: 74px;
	}
	
	.woocommerce table.cart .product-price,
	.woocommerce #content table.cart .product-price,
	.product-price-thead,
	.product-name-thead
	{
		display: table-cell;
	}
	
	.woocommerce table.cart td.product-remove
	{
		text-align: center;
		width: 40px;
		max-width: 40px;
	}
	
	.woocommerce .cart-collaterals,
	.woocommerce-page .cart-collaterals {
		padding: 40px;
	}
	
	.cart_left_wrapper
	{
		margin-top: 27px;
		margin-bottom: 70px;
	}
	
	.woocommerce-cart.woocommerce-page #content .quantity input.qty
	{
		font-size: 1.5rem;
		width: 60px !important;
		height: 50px;
		padding-right: 0;
		padding-left: 13px; 
	}

	.woocommerce-cart .page-title,
	.woocommerce-checkout .page-title,
	.woocommerce-account .page-title
	{
		margin-bottom: 65px;
	}
	
	.shipping-calculator-wrapper,
	.update_and_checkout
	{
		width: 100%;
		float: right;
	}
	
	.shipping-calculator-button-wrapper:after,
	.shipping-calculator-form:after,
	.cart-buttons:after,
	.cart-totals-wrapper:after,
	.cart-collaterals:after,
	.cart_right_wrapper:after
	{
		content: "";
		display: block;
		clear: both;
	}
	
	
	/*cart buttons*/

	.coupon_code_wrapper
	{
		border-width: 3px;
		border-style: dashed;
		margin: 0;
		padding: 36px 0px 42px;
		margin-top: 75px;
	}
	
	.coupon_code_wrapper #coupon_code
	{
		width:250px;
		margin: 0 10px 0 0;
	}
	
	.coupon_code_text
	{
		margin-bottom: 22px;
	}
	
	
	/* Empty Cart / Wishlist */
	
	.cart-wishlist-empty-banner
	{
		margin-top: 67px;
	}
	
	.cart-wishlist-empty-banner img
	{
		max-width: none;
	}
	
	.cart-wishlist-empty,
	.cart-empty {
		font-size: 3.125rem;
		line-height: 1.2em;
		margin-bottom: 100px;
	}
	
	.cart-empty
	{
		margin:22px 0 18px;
	}
	
	.return-to-shop
	{
		margin-bottom: 185px;
	}
	
	
	/**********************************************************************************/
	/* Checkout ***********************************************************************/
	/**********************************************************************************/
	
	.woocommerce-checkout .content-area h3
	{
		text-transform: uppercase;
	}

	
	// .order_details li.order,
	// .order_details li.total,
	// .order_details li.date,
	// .order_details li.method
	// {
	// 	width: auto;
	// }
	
	 .order_details li.order,
	 .order_details li.total,
	 .order_details li.date
	{
		margin-right: 0px;
	}
	
	 .order_details li.total
	{
		clear: none;
	}
	

	
	 .order_details li.date,
	 .order_details li.order
	{
		padding-bottom: 0px;
	}
	
	.thank_you_header_img_top
	{
		margin: 14px 0 40px 0;
	}
	
	.thank_you_header_img_bottom
	{
		margin: 11px 0 30px 0;
	}
	
	.order_details.bacs_details li
	{
		clear: none;
	}
	
	.checkout_left_wrapper
	{
		margin-top: 50px;
		margin-bottom: 105px;
	}
	
	.checkout_right_wrapper {
		margin: 0px 0 13px;
	}
	
	.checkout_right_wrapper .custom_border:after
	{
		display: block;
	}
	
	.order_review_wrapper
	{
		padding: 60px 40px 40px;
	}
	
	.woocommerce .shop_table.woocommerce-checkout-review-order-table tr th:last-child,
	.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tr th:last-child,
	.woocommerce .shop_table.woocommerce-checkout-review-order-table tr td:last-child,
	.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tr td:last-child
	{
		width: 50%;
	}
	
	#shipping_method li .amount
	{
		display: inline-block;
	}
	
	.order_review_wrapper .order_details_footer_container,
	.woocommerce-page .order_review_wrapper  .my_account_container table.shop_table.order_details_footer
	{
		float: right;
		width: 370px;
		margin-bottom: 18px;
	}
	
	/*.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-2
	{
		margin-top: 65px;
	}*/
	
	.woocommerce .checkout .col-2 h3,
	.woocommerce-page .checkout .col-2 h3 {
		float: left;
		margin-bottom: 20px;
	}
	
	#ship-to-different-address {
		text-align:center;
		float: left;
		padding-top: 1px;
		margin-bottom: 0;
	}
	
	.woocommerce #payment #place_order,
	.woocommerce-page #payment #place_order
	{
		width: auto;
	}
	
	
	/**********************************************************************************/
	/* Wishlist ***********************************************************************/
	/**********************************************************************************/

	.woocommerce table.cart.wishlist_table td.product-remove
	{
		width: 30px;
		min-width: 30px;
	}
	
	.woocommerce-page table.cart.wishlist_table .product-name,
	.woocommerce-page #content table.cart.wishlist_table .product-name
	{
		padding-right:40px;
	}
	
	.woocommerce table.cart.wishlist_table .product-price,
	.woocommerce #content table.cart.wishlist_table .product-price
	{
		padding-right: 30px;
	}
	
	.product-add-to-cart .button,
	.woocommerce .product-add-to-cart a.alt.button
	{
		font-size: 13px !important;
		width: auto;
		height: auto;
		padding-right:24px !important;
		padding-left:24px !important;
		margin-bottom: 0;
		position: relative;
		top: 0;
	}
	
	.woocommerce-page table.cart.wishlist_table .product-add-to-cart,
	.woocommerce-page #content table.cart.wishlist_table .product-add-to-cart
	{
		width: 163px;
	}
	
	.product-add-to-cart .button:before,
	.woocommerce .product-add-to-cart a.alt.button:before
	{
		display: none;
	}		
	
	/**********************************************************************************/
	/* Portfolio **********************************************************************/
	/**********************************************************************************/
	
	.hover-effect-content .hover-effect-title,
	.wpb_wrapper h2.hover-effect-title
	{
		font-size: 1.875rem;
	}
			
	.filters-group.list-centered
	{
		margin-bottom: 5px;
	}		
	
	
	/* portfolio single */
	
	.portfolio_content_nav #nav-below
	{
		padding: 40px 50px 38px;
		margin: 0;
		border-top-width: 1px;
		border-top-style: solid;
	}
	
	.portfolio_content_nav #nav-below .nav-previous span:before,
	.portfolio_content_nav #nav-below .nav-next span:after
	{
	
		font-size: 20px;
		color: #888;
		
		display: inline-block;
		font: normal normal normal;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	.portfolio_content_nav #nav-below .nav-previous span:before
	{
		content: "\2190";
		margin-right: 3px;
	}
	
	.portfolio_content_nav #nav-below .nav-next span:after
	{
		content: "\2192";
		margin-left: 3px;
	}
	
	
	/**********************************************************************************/
	/* WooCommerce Messages ***********************************************************/
	/**********************************************************************************/
	
	// .woocommerce-error,
	// .woocommerce-message,
	// .woocommerce-info,
	// .woocommerce .woocommerce-error,
	// .woocommerce-page .woocommerce-error,
	// .woocommerce .woocommerce-message,
	// .woocommerce .woocommerce-info,
	// .woocommerce-page .woocommerce-message,
	// .woocommerce-page .woocommerce-info
	// {
	// 	font-size: 1.125rem;
	// 	line-height: 1.5rem;
	// 	padding: 18px 33px 18px 33px !important;
	// 	margin: 45px -30px 0 !important;
	// }
	
	/*.woocommerce-wishlist.woocommerce  .woocommerce-message,
	.woocommerce-wishlist.woocommerce-page .woocommerce-message,
	.single-product.woocommerce  .woocommerce-message,
	.single-product.woocommerce-page .woocommerce-message
	{
		padding: 18px 33px 18px 33px !important;
		margin: -14px 0 35px !important;
	}*/
	
	// .single-product.woocommerce  .woocommerce-error,
	// .single-product.woocommerce-page .woocommerce-error
	// {
	// 	padding: 18px 33px !important;
	// 	margin: -14px 0 35px !important;
	// }
		
	// .woocommerce .woocommerce-error .button,
	// .woocommerce .woocommerce-info .button,
	// .woocommerce .woocommerce-message .button
	// {
	// 	font-size: 1.125rem !important;
	// 	/*left: 35px;
	// 	bottom: 26px;*/
	// }
	
	// .woocommerce .woocommerce-message a
	// {
	// 	font-size: 1.125rem !important;
	// }
	
	.woocommerce form.checkout_coupon,
	.woocommerce-page form.checkout_coupon
	{
		border-width: 3px;
		border-style: dashed;
		padding: 28px 0;
		width: 695px;
		max-width: 100%;
		margin: 18px auto 30px;
	}
	
	.checkout_coupon_inner
	{
		display: inline-block;	
		position: relative;
		width: 100%;
		padding: 0 100px;
	}
	
	form.checkout_coupon #coupon_code
	{
		width: 100%;
		display: inline-block;
		margin: 0;
		padding: 0 120px 0 65px;
	}

	form.checkout_coupon input[type="submit"]
	{
	    position: absolute;
	    right: 100px;
	    background: none !important;
	    color: #000 !important;
	    min-width: 0;
	    top: 0px;
	    opacity: 0;
	    transition: all .3s;
	}

	form.checkout_coupon #coupon_code:focus ~ input[type="submit"]
	{
		opacity: 1;
	}

	form.checkout_coupon input[type="submit"]:active,
	form.checkout_coupon input[type="submit"]:focus 
	{
		border: none;
		outline: none;
	}
	
	.woocommerce-checkout .woocommerce-info
	{
		font-size: 16px;
		line-height: 1.5rem;
	}
	
	.checkout_login form.login
	{
		width: 510px;
		margin: 0 auto;
		padding: 24px 20px 14px;
		border: none;
	}
	
	
	.woocommerce form.login p:first-child,
	.woocommerce-page form.login p:first-child
	{
		margin: 0px -20px 14px;
	}
	
	
	.woocommerce form.login .lost_password
	{
		margin-top: -66px;
		font-size: 1.125rem;
	}

	.woocommerce .woocommerce-ResetPassword,
	.woocommerce-page .woocommerce-ResetPassword 
	{
		width: 472px;
		max-width: 100%;
		margin: 0 auto;
	}

	.woocommerce .woocommerce-ResetPassword input,
	.woocommerce-page .woocommerce-ResetPassword input,
	.woocommerce .woocommerce-ResetPassword .woocommerce-FormRow,
	.woocommerce-page .woocommerce-ResetPassword .woocommerce-FormRow
	{
		width: 100%;
	}
	
		
	/**********************************************************************************/
	/* Visual Composer Shortcodes  ****************************************************/
	/**********************************************************************************/

	/*general*/
		
	.wpb_wrapper .categories_grid
	{
		margin-bottom: 0;
	}
	
	.full-width-page .wpb_wrapper .gallery,
	.full-width-page .wpb_alert.wpb_content_element,
	.full-width-page .wpb_wrapper .wpb_gmaps_widget,
	.full-width-page .wpb_wrapper #map_container,
	.full-width-page .wpb_wrapper .wpb_revslider_element
	{
		margin-left: -60px !important;
		margin-right: -60px !important;
	}
	
	
	/*separators*/
	
	.wpb_wrapper .vc_separator h2,
	.wpb_wrapper .vc_separator div
	{
		padding: 0 50px;
		white-space: pre;
	}
	
	.wpb_wrapper .vc_separator.without-separator h2
	{
		white-space: normal;
	}
	
	/*	.wpb_wrapper .vc_separator .vc_sep_holder
	{
		display: table-cell;
	}*/
	
	.vc_separator_align_left.vc_separator h2,
	.vc_separator_align_left.vc_separator div
	{
		padding: 0 50px 0 0;
	}
	
	.vc_separator_align_right.vc_separator h2,
	.vc_separator_align_right.vc_separator div
	{
		padding: 0 0px 0 50px;
	}
	
	.wpb_wrapper .without-separator .vc_sep_holder
	{
		display: none;
	}
	

	/*Tabs & Tour Sections*/
	
	.wpb_tabs.wpb_content_element .wpb_tabs_nav:after {
		background: none repeat scroll 0 0 #ddd;
		bottom: 0;
		content: "";
		height: 1px;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 0;
	}
	
	.wpb_tabs.wpb_content_element .wpb_tabs_nav  li
	{
		display: inline-block;
		margin: 0 0px 0px 60px;
		position: relative;
		z-index: 1;
	}
	
	.wpb_tour.wpb_content_element .wpb_tabs_nav  li:after,
	.wpb_tabs.wpb_content_element .wpb_tabs_nav li:after
	{
		display: none !important;
	}
	
	.wpb_tour.wpb_content_element .wpb_tabs_nav  li a,	
	.wpb_tabs.wpb_content_element .wpb_tabs_nav  li a
	{
		display: inline-block;
		padding: 21px 0;
		border-bottom-color:  transparent;
		border-bottom-width :3px;
	}
	
	.wpb_tabs.wpb_content_element .wpb_tabs_nav  li a
	{
		
	}
	
	.wpb_tour.wpb_content_element .wpb_tabs_nav  li a
	{
		font-size: 0.8125rem;
		margin-bottom: 10px;
	}
	
	.wpb_tour.wpb_content_element .wpb_tabs_nav
	{
		width: 25%;
		padding-right: 15px;
	}
	
	.wpb_tour.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab 
	{
		width: 75%;
		padding: 0;
		padding-left:15px;
		padding-bottom: 30px;
	}
	
	.wpb_tabs.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header,
	.wpb_tabs.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab
	{
		padding:30px 0;
	}
	
	.wpb_tour.wpb_content_element .wpb_tour_next_prev_nav
	{
		width: 75%;
		padding-left: 15px;
		margin-left: 25%;
	}
	
	.wpb_tour.wpb_content_element .wpb_tour_next_prev_nav span a
	{
		font-size: 1rem;
	}
	
	
	/* Tabs/Accordions/Toggles/Tour fix - jQuery ui */
	
	.wpb_tour .ui-helper-reset,
	.wpb_tabs .ui-helper-reset,
	.wpb_accordion .ui-helper-reset
	{
		line-height: 1.8;
	}
	
	
	/*Message Boxes*/

	.wpb_alert.wpb_content_element .messagebox_text:before
	{
		top: 5px;
	}
	
	
	/* Toggles */
	
	.wpb_wrapper .wpb_toggle,
	#content .wpb_wrapper h4.wpb_toggle
	{
		font-size: 1.3125rem;
		line-height: 2rem;
		padding-left: 40px;
		margin-bottom: 28px;
	}
	/*
	.wpb_wrapper .wpb_toggle:before,
	#content .wpb_wrapper h4.wpb_toggle:before
	{
		top: 4px;
	}
	
	.wpb_wrapper .wpb_toggle:after,
	#content .wpb_wrapper h4.wpb_toggle:after
	{
		font-size: 18px;
		left:3px;
		top: 7px;
	}
	
	.wpb_wrapper .wpb_toggle_title_active:after,
	#content .wpb_wrapper h4.wpb_toggle_title_active:after
	{
		font-size: 18px;
		left:3px;
		top: 7px;
	}
	*/
	.wpb_wrapper .wpb_toggle:last-of-type + .wpb_toggle_content,
	#content .wpb_wrapper  h4.wpb_toggle:last-of-type + .wpb_toggle_content
	{
		margin-top: 16px;
	}
	
	.wpb_wrapper .wpb_toggle_content
	{
		margin-top:-16px;
		margin-bottom: 31px;
		padding-left: 40px;
	}
	
	
	/*Accordions*/
	
	.wpb_heading.wpb_accordion_heading
	{
		margin: 0 0 11px;
	}
	
	.wpb_wrapper .wpb_content_element .wpb_accordion_header .accordion_title
	{
		font-size: 1.3125rem;
		line-height: 2.3rem;
		padding: 13px 40px 13px 20px;
		font-weight: 700;
	}
	
	.wpb_wrapper .wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon,
	.wpb_wrapper .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon
	{
		top: 22px;
	}
	
	.wpb_wrapper .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content
	{
		padding-bottom: 27px;
	}
	
	
	/*Progress Bars*/

	.wpb_heading.wpb_progress_bar_heading
	{
		font-size: 1.4375rem;
	}
	
	
	/* Icon Box */
	
	.shortcode_icon_box.icon_position_left {
		padding-left:85px;
	}
	
	.shortcode_icon_box.icon_position_right {
		padding-right:190px;
	}
	
	.shortcode_icon_box.icon_position_left .icon_wrapper
	{
		width:70px;
		height:70px;
		padding-top:16px;
		position:absolute;
		top:0;
		left:0;
	}
	
	.shortcode_icon_box.icon_position_right .icon_wrapper
	{
		width:100px;
		height:100px;
		padding-top:23px;
		position:absolute;
		top:8px;
		right:60px;
	}
	
	.shortcode_icon_box.icon_position_left .icon
	{
		font-size: 36px;
		line-height:36px;
	}
	
	.shortcode_icon_box.icon_position_right .icon
	{
		font-size:52px;
		line-height:52px;
	}

}

/* max-width 767px, all mobile devices */
@media only screen and (max-width: 768px) {

	/**********************************************************************************/
	/* Cart ***************************************************************************/
	/**********************************************************************************/

	/*	.content-area
	{
		padding: 45px 0 0 0;
	}*/

	.archive .woocommerce-breadcrumb
	{
		display: none;
	}

	tr.cart_item
	{
		background: transparent !important;
	}
	tr.cart_item td 
	{
		background: transparent !important;
	}

	.woocommerce-cart.woocommerce-page .woocommerce > form
	{
		/*margin: 0 -30px;*/
		min-width: 100%;
		width: auto !important;
	}

	.woocommerce-cart.woocommerce-page .cart-collaterals
	{
		margin: 0 -30px;
		min-width: 100%;
		width: auto !important;
		max-width: none;
	}

	.woocommerce-cart.woocommerce-page .cart-collaterals .cart-subtotal td,
	.woocommerce-cart.woocommerce-page .cart-collaterals .shipping td
	{
		text-align: left !important;
		background: none;
		margin-bottom: 20px;
		padding: 0 !important;
	}

	.woocommerce-cart.woocommerce-page .cart-collaterals tr
	{
		display: inline-block;
		width: 100%;
		margin-bottom: 20px;
	}

	.woocommerce-cart.woocommerce-page .cart-collaterals .cart-subtotal td > span,
	.woocommerce-cart.woocommerce-page .cart-collaterals .shipping td ul,
	.woocommerce-cart.woocommerce-page .cart-collaterals tr .order-total strong
	{
	    float: right;
    	width: 60%;
    	display: block;
    	text-align: left !important;
	}

	.woocommerce-shipping-calculator
	{
		padding-left: 30%;
	}

	.woocommerce table.cart tr.cart_item, 
	.woocommerce #content table.cart tr.cart_item, 
	.woocommerce-page table.cart tr.cart_item, 
	.woocommerce-page #content table.cart tr.cart_item
	.woocommerce table.cart .cart_item td, 
	.woocommerce #content table.cart .cart_item td, 
	.woocommerce-page table.cart .cart_item td, 
	.woocommerce-page #content table.cart .cart_item td
	{
		display: block;
		float: left;
		width: 100%;
		background: #FFF;
		padding: 0;
		font-size: 12px;
		font-weight: bold;
		line-height: 1;
		margin-bottom: 20px;
		border: none;
	}

	.woocommerce table.cart tr, 
	.woocommerce #content table.cart tr, 
	.woocommerce-page table.cart tr, 
	.woocommerce-page #content table.cart tr
	{
		border-bottom: solid 1px #eeeeee;
		padding: 0 0 10px;
		margin-bottom: 25px;
	}

	.woocommerce table.cart tr:last-child, 
	.woocommerce #content table.cart tr:last-child, 
	.woocommerce-page table.cart tr:last-child, 
	.woocommerce-page #content table.cart tr:last-child
	{
		padding: 0 0 10px;
	}

	.woocommerce table.cart tr td.actions .coupon input, 
	.woocommerce #content table.cart tr td.actions .coupon input, 
	.woocommerce-page table.cart tr td.actions .coupon input, 
	.woocommerce-page #content table.cart tr td.actions .coupon input
	{
		min-width: auto;
		margin-right: 0;
	}

	.woocommerce table.cart tr:last-child, 
	.woocommerce #content table.cart tr:last-child, 
	.woocommerce-page table.cart tr:last-child, 
	.woocommerce-page #content table.cart tr:last-child
	{
		border-bottom: none;
	}

	.woocommerce table.cart .cart_item td:before, 
	.woocommerce #content table.cart .cart_item td:before, 
	.woocommerce-page table.cart .cart_item td:before, 
	.woocommerce-page #content table.cart .cart_item td:before
	{
		font-weight: normal;
		font-size: 14px;
		line-height: 1;
	}

	.woocommerce table.cart .cart_item td.product-remove, 
	.woocommerce #content table.cart .cart_item td.product-remove, 
	.woocommerce-page table.cart .cart_item td.product-remove, 
	.woocommerce-page #content table.cart .cart_item td.product-remove
	{
		width: 100%;
		max-width: 100%;
		margin-bottom: -20px;
	}

	.woocommerce table.cart .cart_item td.product-thumbnail, 
	.woocommerce #content table.cart .cart_item td.product-thumbnail, 
	.woocommerce-page table.cart .cart_item td.product-thumbnail, 
	.woocommerce-page #content table.cart .cart_item td.product-thumbnail
	{
		margin-bottom: 35px;
	}

	.woocommerce table.cart .cart_item td a, 
	.woocommerce #content table.cart .cart_item td a, 
	.woocommerce-page table.cart .cart_item td a, 
	.woocommerce-page #content table.cart .cart_item td a,
	.woocommerce table.cart .cart_item td span, 
	.woocommerce #content table.cart .cart_item td span, 
	.woocommerce-page table.cart .cart_item td span, 
	.woocommerce-page #content table.cart .cart_item td span
	{
		font-size: 12px;
		line-height: 14px;
		font-weight: bold;
	}

	.woocommerce table.cart .cart_item td .quantity, 
	.woocommerce #content table.cart .cart_item td .quantity, 
	.woocommerce-page table.cart .cart_item td .quantity, 
	.woocommerce-page #content table.cart .cart_item td .quantity
	{
		float: right;
		width: auto;
	}

	.woocommerce table.cart .cart_item td .input-text.qty.text, 
	.woocommerce #content table.cart .cart_item td .input-text.qty.text, 
	.woocommerce-page table.cart .cart_item td .input-text.qty.text, 
	.woocommerce-page #content table.cart .cart_item td .input-text.qty.text
	{
		padding: 0px;
	    width: 30px !important;
	    height: auto !important;
	    line-height: 1 !important;
	    font-size: 16px !important;
	    margin-top: -8px;
	    
	    padding-left: 13px;
	    padding-right: 0;
	    padding-bottom: 5px; 
	    width: 50px !important;  
	}

	.woocommerce table.cart .cart_item td img, 
	.woocommerce #content table.cart .cart_item td img, 
	.woocommerce-page table.cart .cart_item td img, 
	.woocommerce-page #content table.cart .cart_item td img
	{
		max-width: 100px;
	}

	.woocommerce table.cart .cart_item td.product-thumbnail, 
	.woocommerce #content table.cart .cart_item td.product-thumbnail, 
	.woocommerce-page table.cart .cart_item td.product-thumbnail, 
	.woocommerce-page #content table.cart .cart_item td.product-thumbnail
	{
		text-align: center !important;
	}

	.woocommerce table.cart .cart_item td.product-thumbnail:before, 
	.woocommerce #content table.cart .cart_item td.product-thumbnail:before, 
	.woocommerce-page table.cart .cart_item td.product-thumbnail:before, 
	.woocommerce-page #content table.cart .cart_item td.product-thumbnail:before
	{
		display: none;
	}

	.woocommerce #content table.cart td.actions .coupon, 
	.woocommerce table.cart td.actions .coupon, 
	.woocommerce-page #content table.cart td.actions .coupon, 
	.woocommerce-page table.cart td.actions .coupon
	{
		display: block;
		width: 100%;
		float: left;
	}

	.woocommerce #content table.cart td.actions .coupon, 
	.woocommerce table.cart td.actions .coupon, 
	.woocommerce-page #content table.cart td.actions .coupon, 
	.woocommerce-page table.cart td.actions .coupon
	{
		width: 100% !important;
	}

	.woocommerce #content table.cart td.actions .coupon input, 
	.woocommerce table.cart td.actions .coupon input, 
	.woocommerce-page #content table.cart td.actions .coupon input, 
	.woocommerce-page table.cart td.actions .coupon input
	{
		width: auto;
		min-width: auto;
	}

	.woocommerce #content table.cart td.actions .coupon input.button, 
	.woocommerce table.cart td.actions .coupon input.button, 
	.woocommerce-page #content table.cart td.actions .coupon input.button, 
	.woocommerce-page table.cart td.actions .coupon input.button
	{
		width: auto;
	}

	.woocommerce #content table.cart td.actions>input.button, 
	.woocommerce table.cart td.actions>input.button, 
	.woocommerce-page #content table.cart td.actions>input.button, 
	.woocommerce-page table.cart td.actions>input.button
	{
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}

	.woocommerce table.cart .cart_item td a.remove,
	.woocommerce-page table.cart .cart_item td a.remove, 
	.woocommerce-page #content table.cart .cart_item td a.remove
	{
		font-size: 0;
	}

	/**********************************************************************************/
	/* My Account *********************************************************************/
	/**********************************************************************************/

	.woocommerce-account .woocommerce-MyAccount-content {
		float: left;
		width: 100%;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation {
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}

	.woocommerce-account .row .entry-content
	{
		margin: 20px 0 0 0;
	}


	.woocommerce table.shop_table.woocommerce-MyAccount-orders td, 
	.woocommerce-page table.shop_table.woocommerce-MyAccount-orders td
	{
		padding: 10px 0px 10px 0;
	}

	.woocommerce table.shop_table.woocommerce-MyAccount-orders td:last-child, 
	.woocommerce-page table.shop_table.woocommerce-MyAccount-orders td:last-child
	{
		// padding-top: 20px;
		padding-bottom: 5px;
	}
}

/* min-width 768px max-width: 1024px, tablet only */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	/**********************************************************************************/
	/* Cart ***************************************************************************/
	/**********************************************************************************/
	.woocommerce-cart .entry-content .woocommerce > form,
	.woocommerce-cart .entry-content .woocommerce .cart-collaterals
	{
		width: 100%;
		margin-bottom: 50px;
	}

	.woocommerce #content table.cart td.actions .coupon, 
	.woocommerce table.cart td.actions .coupon, 
	.woocommerce-page #content table.cart td.actions .coupon, 
	.woocommerce-page table.cart td.actions .coupon
	{
		width: 66% !important;
	}

	.woocommerce #content table.cart td.actions>input.button, 
	.woocommerce table.cart td.actions>input.button, 
	.woocommerce-page #content table.cart td.actions>input.button, 
	.woocommerce-page table.cart td.actions>input.button
	{
		width: 31%;
		min-width: 31%;
		max-width: 31%;
	}

}

/* min-width 901px, landscape tablet,large screens */
@media only screen and (min-width: 56.3125em) {
	
	/**********************************************************************************/
	/* My Account Logged-in ***********************************************************/
	/**********************************************************************************/
	
	.catalog-ordering
	{
		margin-top: 1px !important; 
	}

	.woocommerce-ordering
	{
		margin-top: 2px !important;
	}

	.woocommerce-breadcrumb
	{
		margin-top: 2px !important; 
	}

	.woocommerce-account h2
	{
		margin-top: 68px;
		margin-bottom: 15px;
	}
	
	.my_address_title
	{
		margin-top: 68px;
	}
	
	.myaccount_user_inner
	{
		font-size: 1.125rem;
	}
	
	.account_button
	{
		margin-top: 35px !important;
	}
	
	.woocommerce ul.digital-downloads li .count,
	.woocommerce-page ul.digital-downloads li .count
	.woocommerce ul.digital-downloads li a,
	.woocommerce-page ul.digital-downloads li a 
	{
		display: inline-block;
	}
	
	.woocommerce ul.digital-downloads li a,
	.woocommerce-page ul.digital-downloads li a
	{
		width: 65%;
		float: left;
	}
	
	.woocommerce ul.digital-downloads li .count,
	.woocommerce-page ul.digital-downloads li .count
	{
		float: right;
		padding-left: 0;
	}
	
	.woocommerce ul.digital-downloads li:after,
	.woocommerce-page ul.digital-downloads li:after
	{
		margin: 0 0 19px 0;
		padding: 19px 0 0;
		clear: both;
	}
	
	.woocommerce table.my_account_orders,
	.woocommerce-page table.my_account_orders
	{
		margin-top: 0px;
		font-size: 0.9375rem;
		margin-bottom: 35px; 
	}
	
	.woocommerce .my_account_container table.shop_table .order-date,
	.woocommerce .my_account_container table.shop_table .order-actions
	{
		display: table-cell;
		padding-left: 0;
		padding-right: 0;
	}
	
	.woocommerce .my_account_container table.shop_table .order-actions .account_view_link
	{
		
	}
	
	.woocommerce .my_account_container table.shop_table .order-actions a
	{
		padding-left:10px;
	}
	
	.woocommerce .my_account_container table.shop_table .order-status,
	.woocommerce .my_account_container table.shop_table .order-date
	{
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.woocommerce .my_account_container table.shop_table .order-total
	{
		padding-left: 25px;
		padding-right: 25px;
		width: 239px;
	}
	
	.woocommerce .my_account_container table.shop_table td.order-number,
	.woocommerce-page .my_account_container table.shop_table td.order-number
	{
		font-size: 1.5rem;
		padding-left: 0;
		padding-right: 0;

	}
	
	.woocommerce .my_account_container table.shop_table td .amount,
	.woocommerce-page .my_account_container table.shop_table td .amount
	{
		display: inline-block;
	}
	
	/**********************************************************************************/
	/* Portfolio **********************************************************************/
	/**********************************************************************************/
	
	.portfolio-grid-sizer
	{
		width: 33.3333333333%;
	}
	
	.portfolio-box,
	.portfolio_related_item
	{
		width: 33.3333333333%;
		padding-bottom: 33.3333333333%;
	}
	
	.portfolio-box.width2
	{
		width: 66.6666666666%;
		padding-bottom: 33.3333333333%;
	}
	
	.portfolio-box.width2.height2
	{
		width: 66.6666666666%;
		padding-bottom: 66.6666666666%;
	}
	
	
	/* portfolio related items */
	
	.portfolio_related_item.item_3.empty
	{
		display: block;
	}
		
	.portfolio_related_item.item_2.empty .hover-effect-link
	{
		border-right: 1px solid #ddd;
	}

	.main-navigation ul li a
	{
		padding: 10px 10px 10px 0;
	}

	.main-navigation > ul > li.menu-item-has-children > a:after
	{
		right: 0px;
	}
	
}

/*min-width 641px and max-width 1023px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 63.9375em) {


	/**********************************************************************************/
	/* Visual Composer Shortcodes  ****************************************************/
	/**********************************************************************************/

	#page_wrapper
	{
		padding-top: 63px;
	}

	.full-width-page .columns
	{
		padding-left: 60px !important;
		padding-right: 60px !important;
	}

	.top-headers-wrapper
	{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 63px;
		overflow: hidden;
		z-index: 999;
	}

	/*#page_wrapper
	{
		padding-top: 63px;
	}*/

	#masthead
	{
		/*padding-top: 8px;
		padding-bottom: 9px;*/
	}

	.site-tools.offset
	{
		margin-top: -15px;
	}

	.site-tools.offset ul li 
	{
		height: 63px;
	}

	.site-tools.offset ul li .tools_button
	{
		margin-top: 14px;
	}
	
	/*	.page-template-page-full-width .content-area,
	.page-template-page-boxed .content-area
	{
		padding: 63px 0 0 0;
	}*/

	.transparent_header.sticky_header .page-title-shown .entry-header.with_featured_img
	{
		margin-top: -85px;
	}

	.page-template-default .transparent_header .entry-header.with_featured_img
	{
		margin-top: -85px;
	}

	.sticky_header .page-title-shown .entry-header.with_featured_img
	{
		margin-top: -85px;
	}
}


/* max-width 1023px, small screens/medium screens */
@media only screen and (max-width: 64em) {

	

	body.tag.archive .large-12.columns.with-sidebar 
	{
	    padding-right: 0;
	}

	.transparent_header  .entry-header-page.with-featured-img
	{
		margin-top: -85px;
	}


	/**********************************************************************************/
	/* Visual Composer Shortcodes  ****************************************************/
	/**********************************************************************************/

	.site-branding .site-title a
	{
		font-size: 14px;

	}


	.site-tools ul li
	{
		margin-left: 6px;
	}

	.vc_video-bg.vc_hidden-xs
	{
		display: block !important;
		pointer-events: all;
	}

	body.blog .large-12.columns.with-sidebar
	{
		padding-right: 0;
	}

	body.archive.category .large-12.columns.with-sidebar
	{
		padding-right: 0;
	}

	.blog-sidebar
	{
		position: relative;
		width: 100%;
	}
	
	.full-width-page .row
	{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.full-width-page .columns .row
	{
		margin-left: 0;
		margin-right: 0;
	}
	
	.full-width-page .columns .columns
	{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	
	.full-width-page .columns .wpb_content_element
	{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.products li:not(.catalog_mode):hover .product_after_shop_loop_switcher {
		transform: none;
		-ms-transform: none;
		-webkit-transform: none;
	}

	.products li.product_added_to_cart .product_after_shop_loop_switcher
	{
		transform: none;
		-ms-transform: none;
		-webkit-transform: none;
	}

	.product_after_shop_loop {
		height:66px;
	}

	.product_after_shop_loop_switcher .product_after_shop_loop_buttons
	{
		margin-top: -10px;
	}

	.getbowtied_product_quick_view_button
	{
		display: none !important;
	}

	.woocommerce .col2-set,
	.woocommerce .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	table.customer_details,
	.woocommerce-order-received .xlarge-6.xlarge-centered > header.title,
	.woocommerce-order-received .xlarge-6.xlarge-centered > address,
	.woocommerce-view-order .xxlarge-6 > address,
	.woocommerce-view-order .xxlarge-6 > header.title
	{
		width: 100% !important;
		float: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	/**********************************************************************************/
	/* Wishlist ***********************************************************************/
	/**********************************************************************************/

	#yith-wcwl-form .wishlist-empty
	{
		font-size: 1.875rem;
		line-height: 1.2;
		text-align: center;
		padding: 0 30px;
	}

	/**********************************************************************************/
	/* Mobile header ******************************************************************/
	/**********************************************************************************/

	.site-header-wrapper
	{
		margin: 0;
	}

	.top-headers-wrapper #masthead .large-12
	{
		padding: 0;
	}

	/**********************************************************************************/
	/* Lost password ******************************************************************/
	/**********************************************************************************/

	.lost-reset-pass-text
	{
		margin: 0 0 32px 0;
	}

	/**********************************************************************************/
	/* Cart ***************************************************************************/
	/**********************************************************************************/
	.woocommerce-cart .entry-content .woocommerce > form,
	.woocommerce-cart .entry-content .woocommerce .cart-collaterals
	{
		width: 100%;
		margin-bottom: 50px;
	}


}


/* min-width 1023px, large screens */
@media only screen and (min-width: 63.9375em) {
	
	/**********************************************************************************/
	/* Global *************************************************************************/
	/**********************************************************************************/
	
	.page-title
	{
		font-size: 6.25rem;
		margin-bottom: 28px;
		line-height: 1;
	}

	.mobile-navigation a:hover
	{
		color:#585858;
	}

	.mobile-navigation .menu-item-has-children ul li a:hover 
	{
		color:#a3a3a3;
	}
	
	/**********************************************************************************/
	/* Forms  *************************************************************************/
	/**********************************************************************************/
	
	select.orderby
	select.topbar-language-switcher,
	select.wcml_currency_switcher
	{
		opacity: 0;
	}
	
	.woocommerce form .form-row-first,
	.woocommerce-page form .form-row-first,
	.woocommerce form .form-row-last,
	.woocommerce-page form .form-row-last
	{
		width: 48.8%;
	}
	
	
	/**********************************************************************************/
	/* Blog ***************************************************************************/
	/**********************************************************************************/
		
	
	/* blog isotope listing */

	.blog-isotope .blog-post,
	.blog-isotope .grid-sizer
	{
		width: 33.3333333333%;
	}
	
	
	
	/* Standard post format */
 
	.entry-thumbnail
	{
		padding: 0 25px;
	}
 
	.blog-single .larger
	{
		width: 915px;
		margin-left: -124px;
		margin-bottom: 1.23em;
		max-width: 915px;
		
	}
	
	.parallax-container
	{
		background-attachment: fixed;
	}
 
 
	/* error 404 */
	/* no results */
	
	.error-404 input[type="text"],
	.error-404 input[type="search"],
	.no-results input[type="text"],
	.no-results input[type="search"]
	{
		width:470px;
		margin-right: 10px;
	}
 
 
	/* Comments */
	
	.comment-list ul.children {
		margin: 0 0 0em 120px;
	}
	
	.previous-image,
	.next-image {
		margin-top:-56px;
	}
	
	
	/**********************************************************************************/
	/* My account login/register  *****************************************************/
	/**********************************************************************************/
  
	
	/**********************************************************************************/
	/* My account logged-in ***********************************************************/
	/**********************************************************************************/
	
	.woocommerce-account h2
	{
		margin-top: 78px;
		margin-bottom: 17px;
	}
	
	.my_address_title
	{
		margin-top: 78px;
	}
	
	/* View Order */
	
	.order-info
	{	
		margin: 16px -1000px 8px;
		padding-left: 1000px;
		padding-right: 1000px;
	}
	
	
	/* Checkout - Thank you */
	
	.woocommerce-thankyou-order-received
	{
		font-size: 1.5rem;
	}


	/**********************************************************************************/
	/* Cart ***************************************************************************/
	/**********************************************************************************/
	
	.cart_form
	{
		margin-bottom: 100px;
	}
	
	.cart_left_wrapper
	{
		padding-right: 30px;
		margin-bottom: 0px;
		margin-top: 60px;
	}
	
	.cart_right_wrapper
	{
		margin-left: 30px;
		margin-top: 60px;
	}
	
	.shipping-calculator-wrapper,
	.update_and_checkout
	{
		width: auto;
		float: none;
	}
	
		
	/* Empty Cart / Wishlist */
	
	.cart-wishlist-empty,
	.cart-empty {
		font-size: 3.75rem;
		line-height: 1.2em;
	}
	
	.cart-empty {
		margin: 13px 0 18px;
	}


	/**********************************************************************************/
	/* Checkout ***********************************************************************/
	/**********************************************************************************/
	
	.checkout_left_wrapper
	{
		margin-right: 30px;
		margin-top: 90px;
	}

	.checkout_right_wrapper
	{
		margin-left: 30px;
		margin-top: 90px;
	}
	
	.woocommerce .shop_table.woocommerce-checkout-review-order-table tr th:last-child,
	.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tr th:last-child,
	.woocommerce .shop_table.woocommerce-checkout-review-order-table tr td:last-child,
	.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tr td:last-child
	{
		width: 154px;
	}
	
	#shipping_method li .amount
	{
		display: inline-block;
	}
	
	.woocommerce .order_review_wrapper .my_account_container table.shop_table.order_details_footer tr td:first-child,
	.woocommerce-page .order_review_wrapper .my_account_container table.shop_table.order_details_footer tr td:first-child
	{
		max-width: 40%;
	}
	
	.woocommerce .order_review_wrapper .my_account_container table.shop_table.order_details_footer tr td:last-child,
	.woocommerce-page .order_review_wrapper .my_account_container table.shop_table.order_details_footer tr td:last-child
	{
		width: auto;
		padding-left: 40px;
	}
	
	.woocommerce #payment #place_order,
	.woocommerce-page #payment #place_order
	{
		width: 100%;
	}
	
	.woocommerce #payment ul.payment_methods li img,
	.woocommerce-page #payment ul.payment_methods li img
	{
		margin: -2px 0px 0 6px;
	}
	
	.woocommerce #payment .payment_method_paypal .about_paypal,
	.woocommerce-page #payment .payment_method_paypal .about_paypal
	{
		display: block;
	}
	
	
	/**********************************************************************************/
	/* Wishlist ***********************************************************************/
	/**********************************************************************************/
	
	.woocommerce-page table.cart.wishlist_table .product-name,
	.woocommerce-page #content table.cart.wishlist_table .product-name
	{
		padding-right:70px;
	}
	
	.woocommerce-page table.cart.wishlist_table .product-stock-status,
	.woocommerce-page #content table.cart.wishlist_table .product-stock-status
	{
		display: table-cell;
		padding-left: 0;
		padding-right: 30px;
	}
	
	
	/**********************************************************************************/
	/* Shop Catalog *******************************************************************/
	/**********************************************************************************/
	
	.woocommerce .woocommerce-result-count,
	.woocommerce-page .woocommerce-result-count
	{
		display: inline-block;
	}
	
	.woocommerce  ul.products-grid,
	.woocommerce-page  ul.products-grid
	{
		margin: 0px -10px 57px;
	}

	.shop_header_bkg.parallax
	{
		background-size:cover !important;
		background-position:center top;
		
		opacity: 0;
		
		transition: opacity 0s;
		-webkit-transition: opacity 0s;
	}
	
	.shop_header_bkg.parallax.loaded
	{
		opacity: 1;
	}
	
	.woocommerce-pagination
	{
		margin:0px 0 84px;
	}
	
	
	
	/**********************************************************************************/
	/* Categories Grid ****************************************************************/
	/**********************************************************************************/
	
	.categories_grid .category_name,
	.category_list .category_name
	{
		 font-size: 19px;
	}
	
	
	
	/**********************************************************************************/
	/* Product Single *****************************************************************/
	/**********************************************************************************/
	

	
	
	/**********************************************************************************/
	/* Offcanvas Left *****************************************************************/
	/**********************************************************************************/
	
	.shop-has-sidebar #button_offcanvas_sidebar_left {
		display:none;
	}
	
	
	/**********************************************************************************/
	/* Footer  ************************************************************************/
	/**********************************************************************************/
	
	.site-footer-widget-area .columns:nth-child(2n+1) {
		clear:none;
	}
	
	.site-footer-widget-area .footer-5-columns
	{
		width: 20%;
	}
	
	.site-footer-widget-area .columns:nth-child(4n+1) {
		clear:left;
	}
	
	
	.woocommerce-checkout .showcoupon,
	.woocommerce-checkout .showlogin
	{
		display: inline-block;
		margin-top: 0px;
	}
	
	
	/**********************************************************************************/
	/* Visual Composer Shortcodes  ****************************************************/
	/**********************************************************************************/

	/*General*/

	.full-width-page .wpb_wrapper .gallery,
	.full-width-page .wpb_alert.wpb_content_element,
	.full-width-page .wpb_wrapper .wpb_gmaps_widget,
	.full-width-page .wpb_wrapper #map_container,
	.full-width-page .wpb_wrapper .wpb_revslider_element,
	.full-width-page .wpb_wrapper .portfolio-isotope-container
	{
		margin-left: -15px !important;
		margin-right: -15px !important;
	}
	

	/* Visual Composer Rows */
	
	.full-width-page .column_container
	{
		padding-left: 0.625rem;
		padding-right: 0.625rem;
	}
	
	.vc_row-fluid.parallax {
		background-size:0 !important;
		background-position:center center;
		background-repeat:no-repeat;
	}
	
	.vc_row-fluid.parallax.loaded
	{
		background-size:cover !important;
	}
	
	.full-width-page .boxed-row
	{
		padding-left: 50px;
		padding-right: 50px;
	}
	
	
	/* Blog Posts */

	.boxed-row .wpb_wrapper .from-the-blog-wrapper {
		margin: 0px -15px 0px;
	}
	
	
	/*Tabs & Tour Sections*/
	
	.wpb_tabs.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header,
	.wpb_tabs.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab
	{
		padding:50px 0;
	}
	
	
	/* Banner */
	
	.shortcode_banner_simple_height_bullet
	{
		display: table;
	}	

	#site-footer
	{
		position: relative;
		z-index: 99;
	}
	
}


/* min-width 1025px, large screens  */
@media only screen and (min-width: 1024px) {

	/**********************************************************************************/
	/* Top bar ************************************************************************/
	/**********************************************************************************/
	
	#site-top-bar {
		display:block;
	}
    
    #wpadminbar {
		display:block;
		-webkit-transform: translateZ(0);
	}	
	
	.logged-in.admin-bar .mobile-search
	{
		padding-top: 32px;
	}
	
	/**********************************************************************************/
	/* Gallery ************************************************************************/
	/**********************************************************************************/
	
	.gallery-icon a:before
	{
		content: "";
		display: block;
		
		position: absolute;
		width: 100%;
		height: 100%;
		
		background: #000;
		opacity: 0;
		z-index: 1;
		
		transition: opacity 0.35s;
		-webkit-transition: opacity 0.35s;
	}
	
	.gallery-item:hover a:before
	{
		opacity: 0.6;
	}
	
	.gallery-icon img
	{
		width: -webkit-calc(100% + 50px);
		width: calc(100% + 50px);
		max-width: none;
		min-height: 100.6%;
		
		position: absolute;
		left: 0;
		top: 0;
		
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		
		-webkit-transform: translate3d(-40px,0, 0);
		transform: translate3d(-40px,0,0);
	}
	
	.gallery-item:hover img
	{
		-webkit-transform: translate3d(0px,0, 0);
		transform: translate3d(0px,0,0);

		opacity: .3;
	}

	/**********************************************************************************/
	/* Wishlist ***********************************************************************/
	/**********************************************************************************/

	.woocommerce-wishlist .entry-content #yith-wcwl-form
	{
		max-width: 75%;
	}

	.woocommerce-wishlist .entry-content #yith-wcwl-form ins 
	{
		background-color: transparent;
	}

}


/* min-width 1265px, xlarge screens  */
@media only screen and (min-width: 80em) {

	/**********************************************************************************/
	/* Wishlist ***********************************************************************/
	/**********************************************************************************/

	.woocommerce-wishlist .entry-content #yith-wcwl-form
	{
		max-width: 66%;
	}	
	
	
	/**********************************************************************************/
	/* Checkout ***********************************************************************/
	/**********************************************************************************/
	
	.woocommerce .shop_table.woocommerce-checkout-review-order-table tr th:last-child,
	.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tr th:last-child,
	.woocommerce .shop_table.woocommerce-checkout-review-order-table tr td:last-child,
	.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tr td:last-child
	{
		width: 170px;
	}
	
	
	/**********************************************************************************/
	/* Wishlist ***********************************************************************/
	/**********************************************************************************/
	
	.woocommerce-page table.cart.wishlist_table .product-name,
	.woocommerce-page #content table.cart.wishlist_table .product-name
	{
		width: 37%;
	}
	
	
	/**********************************************************************************/
	/* Portfolio **********************************************************************/
	/**********************************************************************************/
	
	.portfolio-grid-sizer
	{
		width: 25%;
	}
	
	.portfolio-box,
	.portfolio_related_item
	{
		width: 25%;
		padding-bottom: 25%;
	}
	
	.portfolio-box.width2
	{
		width: 50%;
		padding-bottom: 25%;
	}
	
	.portfolio-box.width2.height2
	{
		width: 50%;
		padding-bottom: 50%;
	}
	
	
	/*portfolio default - 3 items per row*/
	
	.default_grid.items_per_row_3 .portfolio-grid-sizer
	{
		width: 33.3333333333%;
	}
	
	.default_grid.items_per_row_3 .portfolio-box
	{
		padding-bottom: 33.33333333333%;
		width: 33.3333333333%;
	}
	
	
	/* portfolio related items */
	
	.portfolio_related_item.item_4.empty
	{
		display: block;
	}
		
	.portfolio_related_item.item_3.empty .hover-effect-link
	{
		border-right: 1px solid #ddd;
	}
	
	
	/**********************************************************************************/
	/* Checkout ***********************************************************************/
	/**********************************************************************************/
	
	.woocommerce #payment ul.payment_methods li img,
	.woocommerce-page #payment ul.payment_methods li img
	{
		 margin: -2px 10px 0 6px;
	}
	
	.woocommerce #payment .payment_method_paypal .about_paypal,
	.woocommerce-page #payment .payment_method_paypal .about_paypal
	{
		display: inline-block;
	}
	
	
	/**********************************************************************************/
	/* My account logged-in ***********************************************************/
	/**********************************************************************************/
	
	.myaccount_user
	{
		margin: 0 -100px;
	}

	.main-navigation ul li a
	{
		padding: 10px 15px;
	}

	.main-navigation > ul > li.menu-item-has-children > a:after
	{
		right: -3px;
	}

	/**********************************************************************************/
	/* Cart ***************************************************************************/
	/**********************************************************************************/
	// .woocommerce #content table.cart td.actions .coupon, 
	// .woocommerce table.cart td.actions .coupon, 
	// .woocommerce-page #content table.cart td.actions .coupon, 
	// .woocommerce-page table.cart td.actions .coupon
	// {
	// 	width: auto;
	// 	margin-bottom: 0px;
	// }
} 


/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 100em) {
    
	/**********************************************************************************/
	/* Wishlist ***********************************************************************/
	/**********************************************************************************/

	.woocommerce-wishlist .entry-content #yith-wcwl-form
	{
		max-width: 58%;
	}	

	/**********************************************************************************/
	/* Checkout ***********************************************************************/
	/**********************************************************************************/
	
	.woocommerce .shop_table.woocommerce-checkout-review-order-table tr th:last-child,
	.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tr th:last-child,
	.woocommerce .shop_table.woocommerce-checkout-review-order-table tr td:last-child,
	.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tr td:last-child
	{
		width: 190px;
	}
	
	
	/**********************************************************************************/
	/* Product Single *****************************************************************/
	/**********************************************************************************/
	

	
}


	/* min-width 1601px, xlarge screens */
@media only screen and (min-width: 100.063em) {
	
	/**********************************************************************************/
	/* My Account Logged-in ***********************************************************/
	/**********************************************************************************/
	
	/* View Order */
	
	.woocommerce .shop_table.order_details tfoot th,
	.woocommerce-page .shop_table.order_details tfoot th
	{
		padding-left:44%;
	}
	
	
	/**********************************************************************************/
	/* Wishlist ***********************************************************************/
	/**********************************************************************************/
	
	
	/**********************************************************************************/
	/* Portfolio **********************************************************************/
	/**********************************************************************************/
	
	
	.portfolio-grid-sizer
	{
		width: 20%;
	}
	
	.portfolio-box,
	.portfolio_related_item
	{
		width: 20%;
		padding-bottom: 20%;
	}
	
	.portfolio-box.width2
	{
		width: 40%;
		padding-bottom: 20%;
	}
	
	.portfolio-box.width2.height2
	{
		width: 40%;
		padding-bottom: 40%;
	}
	
	
	/*portfolio default - 3 items per row*/
	
	.default_grid.items_per_row_4 .portfolio-grid-sizer
	{
		width: 25%;
	}
	
	.default_grid.items_per_row_4 .portfolio-box
	{
		padding-bottom: 25%;
		width: 25%;
	}
	
	
	/* portfolio related items */
	
	.portfolio_related_item.item_5.empty
	{
		display: block;
	}
		
	.portfolio_related_item.item_4.empty .hover-effect-link
	{
		border-right: 1px solid #ddd;
	}

} 

// Checkout 




@media only screen and (max-width: 767px)
{
	form.checkout_coupon .checkout_coupon_inner
	{
		&:before
		{
			left: 10px;
		}
		
	}

	.woocommerce-cart #content table.cart td.actions .coupon
	{
		&:before
		{
			left: 10px; 
		}
	}


	form.checkout_coupon .checkout_coupon_inner.focus
	{
		&:after
		{
			right: 10px; 
		}
	}

	form.checkout_coupon #coupon_code
	{
		padding: 0 45px 0 65px; 
	}

	.shopkeeper_checkout_coupon a.showcoupon,
	.shopkeeper_checkout_login a.showlogin
	{
		display: block;
	}

	.checkout_coupon_inner
	{
		margin: 0;
	}

	.woocommerce-cart #content table.cart td.actions .coupon #coupon_code
	{
		padding-right: 45px !important; 
	}

	form.checkout_coupon input[type="submit"]
	{
		min-width: 70px !important; 
	}

}


@media only screen and (max-width: 768px)

{
	.woocommerce #content table.cart td.actions .coupon:after,
	.woocommerce table.cart td.actions .coupon:after, 
	.woocommerce-page #content table.cart td.actions .coupon:after,
	.woocommerce-page table.cart td.actions .coupon:after
	{
    	opacity: 0; 
    	content: "\e902";
    	font-family: 'Shopkeeper-Icon-Font';
    	position: absolute;
	    right: 20px;
	    top: 10px;
	    font-size: 22px;
	}

	.woocommerce #content table.cart td.actions .coupon.focus:after,
	.woocommerce table.cart td.actions .coupon.focus:after, 
	.woocommerce-page #content table.cart td.actions .coupon.focus:after,
	.woocommerce-page table.cart td.actions .coupon.focus:after
	{
		 
    	opacity: 1; 
	}

	.woocommerce .cart-collaterals .cart_totals  ul#shipping_method
	{
		margin-top: -5px;
	}


}



@media only screen and (max-width: 480px)
{
	form.checkout_coupon .checkout_coupon_inner
	{
		&:before
		{
			left: 10px;
		}
		
	}
}


@media only screen and (max-width: 1024px )
{
	.woocommerce-cart
	{
		.shopkeeper-continue-shopping
		{
			width: 100%; 
			margin-bottom: 30px; 
		}
	}
}

@media (max-width: 768px)
{
	.woocommerce-cart.woocommerce-page .cart-collaterals .cart-subtotal td > span,
	.woocommerce-cart.woocommerce-page .cart-collaterals .shipping td,
	.woocommerce-cart.woocommerce-page .cart-collaterals tr .order-total strong
	{
		text-align: right !important;
	}
}
