/**********************************************************************************/
/* General ************************************************************************/
/**********************************************************************************/

.woocommerce .entry-title,
.woocommerce-page .entry-title
{
	margin-bottom: 50px;
}

.woocommerce .page-title,
.woocommerce-page .page-title
{
	text-transform: none;
}

.woocommerce h2
{
	font-size: 1.3125rem;
}

.woocommerce h3,
.woocommerce-checkout .content-area .billing_shipping_address_title
{
	font-size: 0.875rem;
}

.woocommerce a.remove
{	
	font-size: 1.125rem;
	display: inline-block;
	text-align: right;
	
	opacity: 1;
	position: relative;
	
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}

.woocommerce a.remove:hover
{
	color: inherit !important;
	background: none !important;
	opacity: .4 !important;
}

/**********************************************************************************/
/* Forms  *************************************************************************/
/**********************************************************************************/

.woocommerce form .form-row,
.woocommerce-page form .form-row {
	padding: 5px 0;
	margin: 0;
}

.woocommerce form .form-row-first,
.woocommerce-page form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last
{
	width: 100%;
}    

.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt
{
	border: none;
	color: #fff;
	font-size: 0.8125rem !important;
	line-height: 1.4em;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}


/**********************************************************************************/
/* My Account Login / Register *****************************************************/
/**********************************************************************************/

.login-register-container
{
	margin-top: 20px;
	text-align: center;
}

.account-forms-container
{
	display: inline-block;
	max-width: 100%;
	width: 472px;
	text-align: left;
	height: auto;
	padding-left: 0px;
}

.login-register-container .page-title
{
	margin-bottom: 18px;
}

.site-content .account-tab-list,
.account-tab-list
{
	list-style: none;
	margin: 0;
	position: relative;
}

.account-tab-list:after
{
	content: "";
	display: block;
	clear: both;
}

.account-tab-item
{
	float: left;
	margin-right: 20px;
	line-height: 42px;
}

.account-tab-item.last 
{
	margin-right: 0;
}

.account-tab-link-mobile
{
	font-size: 0.875rem;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 30px 20px 35px;
	width: 100%;
	min-width: 122px;
	border: 2px solid;
	line-height: 1;
	opacity: 1 ;
	z-index: 100;
	
	transition: opacity .3s ease .3s;
	-webkit-transition: opacity .3s ease .3s;
}

.account-tab-link.current
{
	z-index: 99;
	opacity: 0;
	
	transition: opacity .3s;
	-webkit-transition: opacity .3s;
}

.account-tab-link.registration_disabled
{
	display: none;
}

.account-tab-link.registration_disabled:hover
{
	color: #333;
}

.option-register
{
	display: inline-block;
	font-size: 0.875em;
}

.login-register-container .form-row
{
	padding: 10px 0 !important;
}

.login-register-container .form-row.without-padding
{
	padding: 0 !important;
}

.woocommerce form .form-row.remember-me-row,
.woocommerce-page form .form-row.remember-me-row 
{
	padding: 7px 0 0; 
}

.woocommerce form .form-row.remember-me-row label
{
	font-size: 1.125rem;
}

.lost-pass-link,
.woocommerce form.login .lost_password a
{
	font-size: 13px;
	float: right;
	line-height: 1.5em;
	padding-bottom: 3px;
	white-space:nowrap;
	text-transform: uppercase;
	font-weight: bold;
}

.login-register-container input[type="submit"]
{
	margin-top: 0px !important;
	width: 100%;
}

.register-form
{
	display: none;
}

.login-form .login_footer_separator
{
	margin-top: -19px;
}

.register-form .login_footer_separator
{
	margin-top: -5px;
}

.login_footer
{
	display: none;
}

.login_footer_separator
{
	width: 100%;
	text-align: center;
	position: relative;
	padding: 25px 0;
}

.login_footer_separator:before
{
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #ddd;
	
	position: absolute;
	top: 50%;
	margin-top: -1px;
}

.login_footer_separator_title
{
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	padding: 10px 15px;
	color: #888;
	position: relative;
	z-index: 3;
	
	background: #fff;
}

.go_home
{
	display: none;
	color: #fff;
	border-bottom: 1px solid;
	padding-bottom: 3px;
	margin-top: 10px;
	font-size: 0.8125em;
	font-weight: bold;
	position: relative;
	line-height: 1em;
	outline: none;
	text-transform: uppercase;
}


/**********************************************************************************/
/* My Account Lost Password *******************************************************/
/**********************************************************************************/

.lost-reset-pass-text
{
	font-size: 1.312em;
	line-height: 2rem;
	margin: 0 -40px 32px;
	text-align: center;
}

.lost-reset-pass-text:before
{
	content: "\f1cd";
	font-size: 24px;
	margin-top: 3px;
	margin-right: 10px;

	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/**********************************************************************************/
/* My Account Logged-in ***********************************************************/
/**********************************************************************************/

.woocommerce-account table a
{
	font-weight: 700;
}

.woocommerce-account .content-area ul,
.woocommerce-account .content-area ol,
.woocommerce-account .content-area dl,
.my_address_wrapper dl
{
	font-size: 1rem;
	line-height: 1.5em;
}

.woocommerce-account .content-area table tr td
{
	font-size: 1rem;
}

.woocommerce-account h2
{
	margin-top: 51px;
	margin-bottom: 12px;
}

.woocommerce-account h2.my_address_title
{
	margin-bottom: 22px;
}

.my_address_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	
	padding-bottom: 25px;
	margin-bottom: 22px;
	margin-top: 51px;
}

.myaccount_user_inner
{
	font-size: 1rem;
	line-height: 1.5;
	text-align: center;
	margin: 0 auto;
}

.myaccount_user_inner a
{
	font-weight: normal;
}

.myaccount_form_headers
{
	font-size: 1.25rem;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 2px;
}

.woocommerce .myaccount_form_headers
{
	font-size: 1.25rem;
}

.account_button
{
	margin-top: 21px !important;
}

.woocommerce ul.digital-downloads,
.woocommerce-page ul.digital-downloads
{
	margin-bottom: 58px;
}

.woocommerce ul.digital-downloads li:before,
.woocommerce-page ul.digital-downloads li:before
{
	display:none;
}

.woocommerce ul.digital-downloads:before,
.woocommerce-page ul.digital-downloads:before,
.woocommerce ul.digital-downloads li:after,
.woocommerce-page ul.digital-downloads li:after
{
	content: "";
	display: block;
	width: auto;
	height: 0px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	margin: 19px 0;
}

.woocommerce ul.digital-downloads:before,
.woocommerce-page ul.digital-downloads:before
{
	margin: 28px 0 18px;
}

.woocommerce ul.digital-downloads li a:before,
.woocommerce-page ul.digital-downloads li a:before
{
	content: "\f019";
	display: inline-block;
	margin-right: 10px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	top: 4px;
	left: 0;
}

.woocommerce ul.digital-downloads li a,
.woocommerce-page ul.digital-downloads li a
{
	padding-left: 22px;
	width:100%;
}

.woocommerce ul.digital-downloads li .count,
.woocommerce-page ul.digital-downloads li .count
.woocommerce ul.digital-downloads li a,
.woocommerce-page ul.digital-downloads li a 
{
	display: block;
	position: relative;
	/*text-align: center;*/
}

.woocommerce ul.digital-downloads li .count,
.woocommerce-page ul.digital-downloads li .count
{
	float: none;
	padding-left: 22px;
}


.woocommerce table.my_account_orders,
.woocommerce-page table.my_account_orders
{
	font-size: 1em;
}

.woocommerce .my_account_container table.shop_table td,
.woocommerce-page .my_account_container table.shop_table td
{
	padding: 13px 0;
}

.woocommerce .my_account_container table.shop_table td .amount,
.woocommerce-page .my_account_container table.shop_table td .amount
{
	display: block;
	font-weight: bold;
}

.woocommerce .my_account_container table.shop_table td.order-number,
.woocommerce-page .my_account_container table.shop_table td.order-number
{
	font-size: 1.125em;
	padding-left: 20px;
	padding-right: 20px;
}

td.order-number a {
}

.woocommerce .my_account_container table.shop_table .order-status,
.woocommerce .my_account_container table.shop_table .order-date
{
	padding-left: 20px;
	padding-right: 20px;
}

.woocommerce .my_account_container table.shop_table .order-total
{
	padding-left: 0px;
	padding-right: 0px;
	/*width: 90px;*/
}

.woocommerce .my_account_container table.shop_table .order-total,
.woocommerce .my_account_container table.shop_table .order-date
{
	padding-left: 20px;
	padding-right: 20px;
}

.woocommerce .my_account_container table.shop_table .order-date,
.woocommerce .my_account_container table.shop_table .order-actions
{
	padding-left: 20px;
	padding-right: 20px;
}

.account_view_link
{
	font-size: 0.875rem;
	text-transform: uppercase;
}

/* Edit Account */

.woocommerce form .form-row-first.first-name-row,
.woocommerce-page form .form-row-last.last-name-row,
.woocommerce form .form-row-first.password-row,
.woocommerce-page form .form-row-last.repeat-password-row
{
	width: 100%;	
}

.edit-account fieldset
{
	margin: 0;
	padding: 0;
	border: 0;
}

.edit-account legend
{
	font-size: 0.875rem;
    font-weight: 900;
    text-transform: uppercase;
	padding: 50px 0 13px;
	margin: 0;
	background: transparent;
}

.edit-account .button
{
	margin-top: 20px !important;
}


/* Billing Address/Shipping Address */

.chosen-container
{
	font-size: 1.125rem;
	font-weight: 700;
	width: 100% !important;
}

.billing_shipping_address_title
{
	margin-bottom: 13px;
	margin-top: 40px;
}

.billing_shipping_address_title .edit-link
{
	display: block;
	position: relative;
	margin-top: 5px;

}

.my_address_description
{
	font-size: 1rem;
}

.customer_details:after
{
	content: "";
	clear: both;
	display: block;
}

.customer_details dt
{
	clear: both;
	margin-right: 5px;
}

#shipping_address_2_field,
#billing_address_2_field
{
	padding-top: 0;
	margin-top: 20px;
}

.shipping_billing_wrapper .edit-link
{
	display: block;
	margin:15px 0;
}

.edit-link .fa
{
	margin-right: 5px;
}

/* View Order */

.order-info
{
	text-align: center;
	margin: 14px -30px 8px;
	padding: 32px 30px;
	position: relative;
}

.order-info:before
{
	content: "";
	display: block;
	height: 10px;
	width: 100%;
	/*background: url('../../images/horizontal-grey-pattern.png');*/
	
	position: absolute;
	top: -10px;
	left: 0;
}

.order-info mark
{
	background: none;
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #FFF;
}

.order-info .order-status
{
	margin-right: 0;
}

.shop_table tr td
{
	font-size: 1rem;
}

.shop_table.order_details a
{
	font-weight: bold;
}

.shop_table.order_details .product-total
{
	padding-left: 30px !important;
}

.woocommerce .shop_table.order_details tbody tr:last-child td,
.woocommerce-page .shop_table.order_details tbody tr:last-child td
{
	border-bottom-width:1px;
	border-bottom-style:solid;
}

.shop_table.order_details
{
	margin-bottom: 0 !important;
}

.woocommerce .shop_table.order_details td,
.woocommerce-page .shop_table.order_details td {
    padding: 15px 0;
}

.woocommerce .shop_table.order_details td .amount,
.woocommerce-page .shop_table.order_details td .amount
{
	font-weight: normal;
}

.woocommerce .shop_table.order_details td .variation,
.woocommerce-page .shop_table.order_details td .variation,
.woocommerce-page .shop_table.order_details td .variation p,
.woocommerce-page .shop_table.order_details small
{
	font-size: 0.875rem;
	line-height: 1em;
}

.woocommerce-page .shop_table.order_details td .variation dt
{
	text-transform: uppercase;
}

.woocommerce-page .shop_table.order_details td .variation p
{
	font-size: 1em;
	line-height: 1em;
}

.woocommerce-page .shop_table.order_details td .variation dd
{
	margin-bottom: 2px;
}

.shop_table.order_details tfoot tr
{
	border: none;
}

.woocommerce .shop_table.order_details tfoot th,
.woocommerce-page .shop_table.order_details tfoot th,
.woocommerce .shop_table.order_details tfoot td,
.woocommerce-page .shop_table.order_details tfoot td
{
	font-size: 1rem;
	font-weight: normal;
	border: none;
	padding: 0;
	padding-top: 12px;
	
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
	font-weight: 700;
	border-top: 0;
}

.woocommerce .shop_table.order_details tfoot th,
.woocommerce-page .shop_table.order_details tfoot th
{
	padding-left:0%;
}

.woocommerce .shop_table.order_details tfoot td,
.woocommerce-page .shop_table.order_details tfoot td
{
	padding-left: 30px;
}

.woocommerce .shop_table.order_details tfoot td .amount,
.woocommerce-page .shop_table.order_details  tfoot td .amount
{
	font-weight: bold;
}

.woocommerce .shop_table.order_details tfoot tr:first-child td,
.woocommerce-page .shop_table.order_details tfoot tr:first-child td,
.woocommerce .shop_table.order_details tfoot tr:first-child th,
.woocommerce-page .shop_table.order_details tfoot tr:first-child th
{
	padding-top: 27px;
}

#shipping_method 
{
	font-size: 16px;
}

.woocommerce ul#shipping_method
{
	line-height: 18px;
	margin-top: -7px; 
}

.woocommerce ul#shipping_method li,
.woocommerce-page ul#shipping_method li
{
	 padding: 7px 0 7px 20px;
	 
	 /*text-indent: -30px;*/
}


.woocommerce ul#shipping_method li input.shipping_method
{
	display: none;
}

#shipping_method .check_label_radio
{
	display: inline-block;
	text-transform: capitalize;
	font-weight: 500;
	margin-left: -21px;
	padding-top: 0px;
}

#shipping_method li .amount
{
	display: block;
	font-weight: 700;
	/*margin-top: 3px;*/
}

.woocommerce .shop_table.customer_details
{
	margin: 25px 0 10px 0;
}

.woocommerce-order-received .shop_table.customer_details
{
	margin: 34px 0 10px 0;
	float: left;
	width: 33%;
}

.woocommerce-order-received h2 
{
	text-transform: uppercase;
}


.woocommerce .shop_table.customer_details tr
{
	border: none;
}


.woocommerce .shop_table.customer_details th,
.woocommerce .shop_table.customer_details td
{
	border: none;
	padding:0;
	line-height: 1.5em;
	float: left;
	display: block;
	width: 100%;
}

.woocommerce .shop_table.customer_details th 
{
	font-size:  0.8125rem;
	text-transform: uppercase;
	font-weight: bold;
}

.woocommerce .shop_table.customer_details td 
{
	font-size:  1rem;
	padding: 5px 0 15px 0;
}

.woocommerce .shop_table.customer_details td:before
{
	/*content: attr(data-title) ": ";
    font-weight: 700;
	display: block !important;
	font-size: 0.8125em;
	font-weight: bold !important;
	margin-bottom: -2px;
	text-transform: uppercase;*/
}

.woocommerce .shop_table.customer_details tr:nth-child(2n) td
{
	background: none;
}

.shipping_billing_wrapper h3
{
	margin-top: 30px;
}


/**********************************************************************************/
/* Order Tracking *****************************************************************/
/**********************************************************************************/

.track-order-description
{
	width: 718px;
	max-width: 100%;
	margin: 0 auto 57px;
	text-align: center;
}

.track_order_form
{
	
	padding: 43px 30px 45px;
	margin:  0 -30px -58px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.track_order_form.custom_border:after
{
	display: none;
}

.custom_border
{
	position: relative;
}

.custom_border:before,
.custom_border:after,
{
	content: "";
	display: block;
	height: 10px;
    width: 100%;
	
	background-color: transparent;
	background-size: 20px 20px;
	background-position: 0 10px, 40px 40px;
}

.custom_border:before
{
	position: absolute;
    top: -10px;
	left: 0;
}

.custom_border:after
{
	position: absolute;
    bottom: -10px;
	left: 0;
	
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}

.input_box
{
	margin-bottom: 12px;	
}

.input_box.last
{
	margin-bottom: 16px;
}

.input_box .input-text
{
	font-weight: normal;
	background: #fff;
}

.track_order_form input[type="submit"]
{
	width: 100%;
}

/**********************************************************************************/
/* Shop Catalog *******************************************************************/
/**********************************************************************************/

/* Catalog Top Bar */

.tob_bar_shop .woocommerce-breadcrumb
{
    text-align: left;
}

.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb
{
	margin:0;
	padding: 0;
	font-size:0.875rem;
	line-height: 24px;
	padding: 8px 0;
	text-align:left;
	text-transform: uppercase; 
    font-size: 10px;
    font-weight: bold; 
    
    a
    {
        padding-left: 7px;
        padding-right: 7px;  
        
        &:first-child
        {
            padding-left: 0;
        }

        &.shop-all-products
        {
        	cursor: inherit; 
        	
        	&:hover
        	{
        		color: inherit; 
        	}
        }
    }
}

.woocommerce .woocommerce-breadcrumb .delimiter,
.woocommerce-page .woocommerce-breadcrumb .delimiter
{
	font-size: 0;
}

.woocommerce .woocommerce-breadcrumb .delimiter:after,
.woocommerce-page .woocommerce-breadcrumb .delimiter:after
{
	content: "\f105";
	display: inline-block;
	font-size: 14px;
	padding:0 10px 0 11px;
	position: relative;
	
	font-family: FontAwesome;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.woocommerce-breadcrumb br
{
	display: none;
}


/* Catalog Header */

.shop_header
{
    text-align: left;
	margin-bottom: 22px;
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.shop_header.with_featured_img
{
	padding-top:135px;
	padding-bottom:170px;
	margin-top: -85px;
	margin-bottom: 40px;
}

.shop_header_bkg
{	
	width: 100%;
	height: 100%;

	background-position: center center;
	background-size: cover;
	background-repeat:no-repeat;
	
	position: absolute;
	top: 0;
	left: 0;
}

.shop_header_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	display: none;
}

.shop_header.with_featured_img .shop_header_overlay
{
	display: block;
}

.woocommerce_category_header_image
{
	display: none;
}

.shop_header.with_featured_img .term-description
{
	color: #fff;
}

.page-description
{
    text-align:center;
}

.term-description
{
    text-align:center;
	margin-top: -10px;
}

.catalog-ordering:after
{
	content: "";
	display: block;
	clear: both;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering
{
    padding-top: 0px;
	margin-bottom: 0;
	margin-left: -4px;
	margin-right: -7px;
	float: right;
}

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count
{
	display:none;
	float: right;
    font-size: 0.875rem;
    line-height: 24px;
    margin: 0 15px 0 0;
}

/* Catalog Categories List */

.list_shop_categories
{
    margin: 0px 0 3px;
}

.shop_header.with_featured_img .page-title.on-shop
{
		color: #fff;
}

.shop_header.with_featured_img .list_shop_categories a
{
	color: #fff;
	border-bottom: 1px solid #fff;
}

.shop_header.with_featured_img .list_shop_categories a:hover
{
	border-bottom: 1px solid transparent;
}


/* Catalog Products */

.catalog_top
{
    padding:0px 0px 20px;
}

.woocommerce .products a
{
	display: block;
}

.products a.button,
.woocommerce .products .added_to_cart.wc-forward,
.woocommerce-page .products .added_to_cart.wc-forward
{
	cursor: pointer;
	line-height: normal;
	margin: 0 !important;
    min-width: inherit;
	position: relative;
	text-decoration: none;
	text-align: left;
	
	display: inline-block;
	font-size: .8125rem !important;
	text-transform: uppercase;
	font-weight: 900;
	
	background:none !important;
	border-color: none !important;
	
	-webkit-appearance: none;
	border: none;
	
	-webkit-transition: color 300ms ease !important;
	-moz-transition: color 300ms ease !important;
	transition: color 300ms ease !important;
}

.products a.button
{
	padding:0.2em 0 0em 0 !important;
}

.woocommerce .products .added_to_cart.wc-forward,
.woocommerce-page .products .added_to_cart.wc-forward
{
	padding:0.2em 0 0em 1.315em !important;
}

.products a.button.added
{
	display: none;
}

.products .product_added_to_cart a.button:before
{
	top: 5px;
}

.products a.button:hover,
.woocommerce .products .added_to_cart.wc-forward:hover,
.woocommerce-page .products .added_to_cart.wc-forward:hover
{
    background: none !important;
}

.woocommerce .products a.button.loading:after
{
	content: "";
	display: inline-block;
	width: 50px;
	height: 16px;
	
	background:url('../images/morph-shape-gif-preloader.gif') center no-repeat;
	background-size: auto 15px;
	vertical-align: top;
	
	position: relative;
	top: 0px;
	left: auto;
	right: auto;
	
	animation: none;
	-webkit-animation: none;
}

.woocommerce .products ul h3,
.woocommerce ul.products h3,
.woocommerce-page .products ul h3,
.woocommerce-page ul.products h3
{
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	padding: 17px 35px 0 0;
	margin:0;
	display:inline-block;
	text-transform: none;
	-webkit-transition: color .3s ease;                  
    -moz-transition: color .3s ease;                 
    -o-transition: color .3s ease;
    -ms-transition: color .3s ease;          
    transition: color .3s ease;
}

.products .added_to_cart.wc-forward:before
{
	content: "\f00c";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	
	height: 16px;
	width: 16px;
	
	position: absolute;
	top: 5px;
	right: auto;
	left: 0;
	text-indent: 0;
}

.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce #respond input#submit:active,
.woocommerce #content input.button:active,
.woocommerce-page a.button:active,
.woocommerce-page button.button:active,
.woocommerce-page input.button:active,
.woocommerce-page #respond input#submit:active,
.woocommerce-page #content input.button:active{
	top:0;
}

.woocommerce .products a.button.loading
{
	opacity: 1;
}



/* Catalog Sale / Out of Stock Badges */

.product-link
{
	display: block;
	position: relative;
}

.woocommerce .products span.onsale,
.woocommerce-page .products span.onsale,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.quickview-badges span.onsale
{
	min-height: 0;
	min-width: 0;
	padding: 2px 8px 0px 8px;
	font-size:0.6875rem;
	font-weight: bold;
	text-align: center;
	line-height: 1.5em;
	left: auto;
	margin: 0;
	border-radius: 0;

	position: absolute;
	top: 15px;
	left: 15px;
	
	background: #93af76;
	text-shadow: none;
	color: #ffffff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-transform:uppercase;
	
	z-index:8;
	
	-webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
	
	-webkit-animation-name: flipInY;
    -moz-animation-name: flipInY;
    -o-animation-name: flipInY;
    animation-name: flipInY;
}

.woocommerce #products-grid span.onsale,
.woocommerce-page #products-grid span.onsale
{
	-webkit-animation-fill-mode: none;
    -moz-animation-fill-mode: none;
    -ms-animation-fill-mode: none;
    -o-animation-fill-mode: none;
    animation-fill-mode: none;
}

.products .out_of_stock_badge_loop,
.out_of_stock_badge_single 
{
	display: inline-block;
	padding: 2px 7px 0;
	font-size: .6875rem;
	line-height: 1.5em;
	color: #fff;
	background: #808080 ;
	text-transform: uppercase;
	margin-right: 15px;
	position: absolute;
	top: 15px;
	left: 15px;
	// z-index: 99; 
	
	-webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
	
	-webkit-animation-name: flipInY;
    -moz-animation-name: flipInY;
    -o-animation-name: flipInY;
    animation-name: flipInY;
}

.out_of_stock_badge_single 
{
	z-index: 99; 
}
	
.products .outofstock .onsale,
.outofstock .product-sale + .out_of_stock_wrapper .out_of_stock_badge_single 
{
	top: 40px !important;
}


/* Catalog Pagination */

.woocommerce-pagination
{
    margin:0px 0 47px;
}

.woocommerce #content nav.woocommerce-pagination,
.woocommerce nav.woocommerce-pagination,
.woocommerce-page #content nav.woocommerce-pagination,
.woocommerce-page nav.woocommerce-pagination
{
    text-align: left;
}

.woocommerce #content nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul,
.woocommerce-page #content nav.woocommerce-pagination ul,
.woocommerce-page nav.woocommerce-pagination ul
{
    border: none;
}

.woocommerce #content nav.woocommerce-pagination ul li,
.woocommerce nav.woocommerce-pagination ul li,
.woocommerce-page #content nav.woocommerce-pagination ul li,
.woocommerce-page nav.woocommerce-pagination ul li
{
    border: none;
    background: none;
}

.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span, 
.woocommerce #content nav.woocommerce-pagination ul li a, 
.woocommerce #content nav.woocommerce-pagination ul li span, 
.woocommerce-page nav.woocommerce-pagination ul li a, 
.woocommerce-page nav.woocommerce-pagination ul li span, 
.woocommerce-page #content nav.woocommerce-pagination ul li a, 
.woocommerce-page #content nav.woocommerce-pagination ul li span
{
	font-weight: 700;
	background: none;
	font-size: 1rem;
	text-align: center;
	margin: 0;
    padding: 0.2em 1.1em;
    line-height: 2em;
    min-width: 0;
}

.page-numbers li:first-child span,
.page-numbers li:first-child a
{
    padding-left: 0 !important;    
}

.woocommerce-pagination .fa
{
    font-size: 0.444em;
    display: block;
    margin-top: 15px;
}

.woocommerce nav.woocommerce-pagination ul li span.current, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce #content nav.woocommerce-pagination ul li span.current, 
.woocommerce #content nav.woocommerce-pagination ul li a:hover, 
.woocommerce #content nav.woocommerce-pagination ul li a:focus, 
.woocommerce-page nav.woocommerce-pagination ul li span.current, 
.woocommerce-page nav.woocommerce-pagination ul li a:hover, 
.woocommerce-page nav.woocommerce-pagination ul li a:focus, 
.woocommerce-page #content nav.woocommerce-pagination ul li span.current, 
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover, 
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus {
	background: none;
}


/* Off-canvas Filters */

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	box-shadow: inset 0 0 0 0 rgba(0,0,0,0) !important;
	-webkit-box-shadow: inset 0 0 0 0 rgba(0,0,0,0) !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

.woocommerce .widget_price_filter .ui-slider-horizontal,
.woocommerce-page .widget_price_filter .ui-slider-horizontal
{
	height:6px;
	border-radius: 6px;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content
{
	background: #ddd;
	position:relative;
	margin-right:15px;
	margin-bottom: 11px;
	box-shadow: inset 0 0 0 0 rgba(0,0,0,0) !important;
	-webkit-box-shadow: inset 0 0 0 0 rgba(0,0,0,0) !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	border-top-left-radius: 6px !important;
	border-bottom-left-radius: 6px !important;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content:after,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content:after
{
	display:block;
	content:"";
	position:absolute;
	top:0;
	right:-15px;
	width:15px;
	height:6px;
	background:#ddd;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.header-summary .widget_price_filter .price_slider_wrapper .ui-widget-content,
.header-summary .widget_price_filter .price_slider_wrapper .ui-widget-content,
.header-summary .widget_price_filter .price_slider_wrapper .ui-widget-content:after,
.header-summary .widget_price_filter .price_slider_wrapper .ui-widget-content:after
{
	background: #ddd;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle
{
	background: #fff;
	border-width:3px;
	border-style:solid;
	width: 15px;
	height: 15px;
	top: -5px;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0),inset 0 0 0 0 rgba(0,0,0,0) !important;
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0),inset 0 0 0 0 rgba(0,0,0,0) !important;
	box-shadow: 0 0 0 rgba(0,0,0,0),inset 0 0 0 0 rgba(0,0,0,0) !important;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child
{
	margin-left: 0;
}

.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce-page .widget_price_filter .price_slider_amount .button
{
	float: right;
	min-width: 0;
}

.woocommerce .widget_price_filter .price_slider_amount,
.woocommerce-page .widget_price_filter .price_slider_amount
{
	text-align: left;
	font-size: .8125em;
    font-weight: 500;
}

.woocommerce .widget_price_filter .price_slider_amount #min_price,
.woocommerce-page .widget_price_filter .price_slider_amount #min_price,
.woocommerce .widget_price_filter .price_slider_amount #max_price,
.woocommerce-page .widget_price_filter .price_slider_amount #max_price
{
	display:none;
}

.widget.widget_price_filter .price_slider_amount .button {
	padding:0 !important;
	margin:0 !important;
	line-height:inherit !important;
	height:auto !important;
	background:none !important;
	text-align: right;
	width: 100px;
	box-shadow: none;
	
	transition: color .3s;
	-webkit-transition: color .3s;
}

.widget.widget_price_filter .price_slider_amount .button:hover {
	background:none !important;
	color:#000 !important;
}


/**********************************************************************************/
/* Product Single *****************************************************************/
/**********************************************************************************/



/**********************************************************************************/
/* Cart ***************************************************************************/
/**********************************************************************************/

.cart_form
{
	margin-bottom: 0px;
}

.cart_form .custom_border:after
{
	display: none;
}

.woocommerce .cart_form .cart-collaterals,
.woocommerce-page .cart_form .cart-collaterals
{
	padding-bottom: 50px;
}

.woocommerce .cart-collaterals .cart_totals table.shop_table_responsive tr td > p
{
	text-transform: none;
	text-align: left;
}


@media (max-width: 768px)
{
	.woocommerce table.shop_table_responsive tr.shipping td::before,
	.woocommerce-page table.shop_table_responsive tr.shipping td::before
	{
		padding-right: 10px;
	}
}

.cart_left_wrapper
{
	padding-right: 0px;
	margin-bottom: 30px;
}

.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
	border: none;
	margin: 12px 0 0 0;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
	line-height: 1.8em;
	padding: 17px 0;
	font-size:13px;
}



.woocommerce-cart .woocommerce table.shop_table.cart
{
	border-collapse: collapse;
}

.woocommerce-cart .woocommerce table.shop_table.cart tr td
{
	border: none; 
}

.woocommerce-cart .woocommerce table.shop_table.cart tr.cart_item,
.woocommerce-cart .woocommerce-page table.shop_table tr.cart_item
{
	border-bottom-color: rgba(0,0,0,0); 
}


.woocommerce-cart .woocommerce table.shop_table.cart tr:not(:nth-last-child(-n+2))
{
	border-bottom: 1px solid; 
}

.woocommerce-cart .woocommerce table.sop_table.cart td
{
	border-top-width: 0; 
}

.woocommerce table.shop_table.woocommerce-checkout-review-order-table td,
.woocommerce-page table.shop_table.woocommerce-checkout-review-order-table td
{
	border-top-width: 1px;
	border-top-style: solid;
	// padding: 40px 30px 40px 0;
	
	// &:last-child
	// {
	// 	border-top-width: 0px; 
	// }
}


.woocommerce table.shop_table.cart td,
.woocommerce-page table.shop_table.cart td
{
	padding: 25px 30px 25px 0;
}

.woocommerce table.cart .product-thumbnail,
.woocommerce #content table.cart .product-thumbnail,
.woocommerce-page table.cart .product-thumbnail,
.woocommerce-page #content table.cart .product-thumbnail
{
	width:120px;
	padding-right:20px;
	min-width: 120px;
	display: none;
}

.woocommerce table.cart .product-thumbnail img,
.woocommerce #content table.cart .product-thumbnail img,
.woocommerce-page table.cart .product-thumbnail img,
.woocommerce-page #content table.cart .product-thumbnail img
{
	width:100%;
	height:auto;
}

.woocommerce table.cart .product-name,
.woocommerce #content table.cart .product-name
{
	width: 190px;
	min-width: 100px;
	padding-right: 20px;
}

.woocommerce table.cart .product-quantity,
.woocommerce #content table.cart .product-quantity
{
	padding-right: 20px;
}


.woocommerce table.cart .product-name a,
.woocommerce #content table.cart .product-name a
{
	display: block;
	font-size: 1rem;
	line-height: 1.3125em;
	color: inherit;
	font-weight: 700;
}

.woocommerce table.cart .product-price,
.woocommerce #content table.cart .product-price
{
	font-size: 1rem;
	padding-right: 20px;
	display: none;
}

.product-price-thead,
.product-name-thead
{
	display: none;
}

.woocommerce table.cart .product-subtotal,
.woocommerce #content table.cart .product-subtotal,
.woocommerce-page table.cart .product-subtotal,
.woocommerce-page #content table.cart .product-subtotal
{
	font-weight: 700;
	padding-right: 20px;
	font-size: 1.125rem;
}

.woocommerce table.cart img,
.woocommerce #content table.cart img,
.woocommerce-page table.cart img,
.woocommerce-page #content table.cart img
{
	width:auto;
}

.woocommerce td.product-quantity,
.woocommerce-page td.product-quantity
{
	min-width: 0;
}

.woocommerce table.cart td.product-remove 
{
	text-align: right;
	width: 10px;
	max-width: 14px;
	padding: 0;
	

	> a
	{
		font-size: 0;
		width: auto;
		height: auto;   
		
		&:after
		{
			content: "\e918";
	        font-family: 'Shopkeeper-Icon-Font';  
	        font-size: 16px;
	        font-weight: normal;
	        display: inline-block;
	        vertical-align: middle
	     
		}
	}
	 
	
}

.woocommerce-cart #content .quantity .plus,
.woocommerce-cart #content .quantity .minus
{
	display: none;
}

.woocommerce-cart.woocommerce-page #content .quantity input.qty
{
	font-size: 1rem;
	width: 50px !important;
	border-bottom-width: 2px;
	border-top-width: 0;  
	border-left-width: 0;  
	border-right-width: 0;  
	border-bottom-style: solid;
	
}



.cart_container
{
	margin-bottom: 0px;	
}

.cart_right_wrapper
{
	margin: 0 -30px;
}

.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
	width: 100%;
	padding:30px 30px 40px;
}


.cart-collaterals
{
	max-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.woocommerce .cart-collaterals table.shop_table td,
.woocommerce-page .cart-collaterals table.shop_table td
{
	border-top: 0;
	padding: 10px 0;
}

.woocommerce table.cart input,
.woocommerce #content table.cart input,
.woocommerce-page table.cart input,
.woocommerce-page #content table.cart input
{
	line-height: normal;
}

.cart-collaterals table tr th, 
.cart-collaterals table tr td {
	padding: 30px 0;
	font-size: 1rem;
}

.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table th
{
	padding: 9px 40px 5px 0;
	width: 100px;
	line-height:1.2rem;
}

.woocommerce .cart-collaterals .woocommerce-shipping-calculator > p
{
	margin-bottom: 0;
}

.woocommerce .cart-collaterals .cart_totals .shipping-calculator-button,
.woocommerce-page .cart-collaterals .cart_totals .shipping-calculator-button,
.woocommerce .woocommerce-checkout-review-order-table  .shipping-calculator-button,
.woocommerce-page .woocommerce-checkout-review-order-table .shipping-calculator-button
{
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	
}

.woocommerce .cart-collaterals .cart_totals table td,
.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table td,
.woocommerce-page .cart-collaterals .cart_totals table th
{
	vertical-align: top;
	text-align:left;
}

.woocommerce .cart-collaterals .cart_totals tr.shipping td,
.woocommerce .cart-collaterals .cart_totals tr.shipping th,
.woocommerce-page .cart-collaterals .cart_totals tr.shipping td,
.woocommerce-page .cart-collaterals .cart_totals tr.shipping th {
	padding-bottom:35px;
}


.woocommerce .cart-collaterals .cart_totals tr.shipping td
{
	text-transform: uppercase;
	font-weight: bold;
}

.woocommerce .cart-collaterals .cart_totals tr.shipping th,
.woocommerce .cart-collaterals .cart_totals tr.shipping td {
	padding-top: 17px;
}

.woocommerce .cart-collaterals .cart_totals tr.order-total td,
.woocommerce .cart-collaterals .cart_totals tr.order-total th,
.woocommerce-page .cart-collaterals .cart_totals tr.order-total td,
.woocommerce-page .cart-collaterals .cart_totals tr.order-total th {
    line-height: 1;
    padding-top: 25px;
	padding-bottom: 23px;
    vertical-align: middle;
}

.woocommerce .cart-collaterals .cart_totals tr.order-total td strong,
.woocommerce-page .cart-collaterals .cart_totals tr.order-total td strong
{
	font-size: 1.875rem;
	line-height: 1;
	font-weight:700;
	vertical-align: top;
}

.woocommerce .cart-collaterals .cart-totals-wrapper h2,
.woocommerce-page .cart-collaterals .cart-totals-wrapper h2,
.woocommerce .shipping-calculator-button-wrapper,
.woocommerce-page .shipping-calculator-button-wrapper
{
	text-transform: uppercase;
	text-align:left;
	font-size:0.8125rem;
	font-weight: 700;
}

.woocommerce .cart-collaterals .cart_totals h2,
.woocommerce-page .cart-collaterals .cart_totals h2
{
	padding:0 0 13px;
	margin:0 0 25px 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-transform: uppercase;
}

.woocommerce-cart .cart-collaterals .cart_totals table td .amount
{
	font-weight: bold;
}

.shipping-calculator-form
{
	padding-top: 15px;
	padding-bottom: 8px;
}



.woocommerce .shipping-calculator-button-wrapper,
.woocommerce-page .shipping-calculator-button-wrapper
{
	margin: 0;
}

.woocommerce .cart-collaterals .cart_totals .shipping-calculator-button,
.woocommerce-page .cart-collaterals .cart_totals .shipping-calculator-button,
.woocommerce .woocommerce-checkout-review-order-table  .shipping-calculator-button,
.woocommerce-page .woocommerce-checkout-review-order-table .shipping-calculator-button
{
	display: inline-block;
	margin:16px 0 0px;
}

.shipping-calculator-form .button {
	margin:5px 0 0 0 !important;
	min-width: 0 !important;
    width: 100%;
}

.shipping-calculator-form .button:hover
{
	color: #FFF !important;
}

.woocommerce a.button.view:hover
{
	color: #FFF;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	width: 100% !important;
	float: none;
}

.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce .cart-collaterals .cart_totals tr th,
.woocommerce-page .cart-collaterals .cart_totals tr td,
.woocommerce-page .cart-collaterals .cart_totals tr th
{
	border: none;
}

.woocommerce .cart-collaterals .cart_totals .order-total td,
.woocommerce .cart-collaterals .cart_totals .order-total th,
.woocommerce-page .cart-collaterals .cart_totals .order-total td,
.woocommerce-page .cart-collaterals .cart_totals .order-total th
{
	/*border-bottom-width: 1px;
	border-bottom-style: solid;*/
	border-top-width: 1px;
	border-top-style: solid;
}

.woocommerce .cart-collaterals .cart_totals .cart-subtotal,
.woocommerce-page .cart-collaterals .cart_totals .cart-subtotal
{
	border-bottom: none;	
}

.woocommerce .cart-collaterals .cart_totals th:first-child,
.woocommerce-page .cart-collaterals .cart_totals th:first-child,
.woocommerce .cart-collaterals .cart_totals td:first-child,
.woocommerce-page .cart-collaterals .cart_totals td:first-child
{
/*	padding-right: 0px;*/
}



.woocommerce .cart-collaterals .cart_totals .shipping td:first-child,
.woocommerce-page .cart-collaterals .cart_totals .shipping td:first-child
{
	padding-top: 11px;
}

.woocommerce .cart-collaterals .cart_totals td,
.woocommerce-page .cart-collaterals .cart_totals td
{
	font-size: 13px;
}

.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
	width: 100% !important;
}

.woocommerce .cart-collaterals .related,
.woocommerce-page .cart-collaterals .related
{
	width: 100%;
}

.woocommerce ul#shipping_method li label
{
	display: inline;
	line-height: 18px; 
}

.woocommerce ul#shipping_method .amount
{
	display: inline;
}

.woocommerce .cross-sells ul li:nth-child(2n),
.woocommerce-page .cross-sells ul li:nth-child(2n){
	margin-left: 4%;
}

.woocommerce .cross-sells ul.products-grid,
.woocommerce-page .cross-sells ul.products-grid
{
	margin: 0px -10px 0;
}

.woocommerce .cross-sells ul.products li,
.woocommerce-page .cross-sells ul.products li {
	/*width: 100% !important;*/
}

.woocommerce .cross-sells h2,
.woocommerce-page .cross-sells h2,
.woocommerce .cart_totals h2,
.woocommerce-page .cart_totals h2 {
    padding: 0 0 21px;
    margin: 0 0 25px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: left;
    font-size: 13px;
}

.woocommerce td.product-name dl.variation dt, 
.woocommerce td.product-name dl.variation dd, 
.woocommerce td.product-name dl.variation dt p, 
.woocommerce td.product-name dl.variation dd p, 
.woocommerce-page td.product-name dl.variation dt, 
.woocommerce-page td.product-name dl.variation dd p, 
.woocommerce-page td.product-name dl.variation dt p, 
.woocommerce-page td.product-name dl.variation dd p
{
	font-size: 0.8125rem;
}


/* Cart - Buttons */

.cart-buttons .update_cart,
.cart-buttons .checkout-button
{
	width: 100%;
	padding-top:22px !important;
    padding-bottom:21px !important;
}

.woocommerce-page #content .update_and_checkout .update_cart
{
	margin-top: 9px;
	margin-bottom: 10px;
}

.coupon_code_wrapper
{
	text-align: center;
	border-top-width: 2px;
	border-top-style: dashed;
	margin: 0 -30px 65px;
	padding: 36px 30px 0px;
}

.coupon_code_wrapper_inner
{
	display: inline-block;	
}

.coupon_code_wrapper_inner:after
{
	content: "";
	display: block;
	clear: both;
}

.coupon_code_text
{
	font-size: 0.8125rem;
	font-weight: 700;
	margin-bottom: 26px;
	text-transform: uppercase;
}

.coupon_code_wrapper #coupon_code
{
	width:100%;
	height: 48px;
	border-width: 1px;
	border-style: solid;
	font-weight: bold;
    padding: 13px 15px 13px 15px;
    margin: 0 0px 15px 0;
    outline: 0 !important;
    line-height: normal;
	float: left;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	
	 box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.coupon_code_wrapper .apply_coupon
{
	min-width: 0;
	height: 48px;
}

/* Empty Cart / Wishlist */

.cart-wishlist-empty-banner
{
	margin-top: -20px;
	text-align: center;
}

.cart-wishlist-empty-banner img
{
	max-width: 120px;
}

.cart-wishlist-empty,
.cart-empty {
    font-size: 1.875rem;
	font-weight: 700;
    line-height: 1.33333em;
    margin-bottom: 0px;
}

.cart-empty {

	margin: 18px 0 22px;
	
	&:before
	{
		content: "\e908";
	  	font-family: 'Shopkeeper-Icon-Font'; 
	  	display: block;
	  	font-weight: normal;
	  	font-size: 180px;
	  	line-height: 220px; 
	}
}

.return-to-shop
{
	margin-bottom: 60px;
}

.wc-backward
{
	font-size: 0.8125em;
	font-weight: 700;
	padding-bottom: 5px;
	border-bottom: 1px solid;
	text-transform: uppercase;
}

.wc-backward a:before,
.wc-backward:before
{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f112";
	font-size: 1.1em;
	margin-right: 10px; 
}

.wishlist-empty-banner.cart-wishlist-empty-banner
{
	margin-bottom:23px;
}


/**********************************************************************************/
/* Minicart ***********************************************************************/
/**********************************************************************************/

ul.cart_list li,
.woocommerce-page ul.cart_list li,
.woocommerce ul.product_list_widget li,
.woocommerce-page ul.product_list_widget li {
	padding: 0 0 30px 90px;
	position:relative;
}

ul.cart_list li:last-child,
.woocommerce-page ul.cart_list li:last-child,
.woocommerce ul.product_list_widget li:last-child,
.woocommerce-page ul.product_list_widget li:last-child
{
	padding-bottom: 0;
}

ul.cart_list li.empty,
.woocommerce-page ul.cart_list li.empty,
.woocommerce ul.product_list_widget li.empty,
.woocommerce-page ul.product_list_widget li.empty {
	padding: 0 0 25px 0;
}

ul.cart_list li img,
.woocommerce-page ul.cart_list li img,
.woocommerce ul.product_list_widget li img,
.woocommerce-page ul.product_list_widget li img
{
	float: left;
	margin: 0;
	width: 70px;
	height: auto;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	margin-left:-90px;
}


/**********************************************************************************/
/* Checkout ************************************************************************/
/**********************************************************************************/

.woocommerce-checkout .content-area .thank_you_bank_details h2
{
	margin-top: 28px;
	margin-bottom: 25px;
}

.woocommerce-checkout .content-area .thank_you_bank_details h3
{
	text-align: left;
	font-size: 1.125rem;
	padding-bottom: 15px;
	margin-top: 0;
	font-weight: normal;
	text-transform: capitalize;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}


.checkout_left_wrapper
{
	margin-top: 30px;
	margin-bottom: 85px;
}

.checkout_right_wrapper
{
	margin: 0 -30px -18px;
}

.checkout_right_wrapper .custom_border:after
{
	display: none;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1
{
	float: none;
	width: 100%;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2
{
	float:left;
	width: 100%;
	margin-top: 48px;
	display: inline-block;

	&:after
	{
		content: '';
		display: block;
		clear: both;
	}
}



.woocommerce-checkout .col2-set .col-2
{
	margin-top: 62px;
}


.woocommerce-order-received .col2-set.addresses
{
	float: left;
	width: 66%;
	margin-top: 33px;
	padding-left: 10px;
	

}

.woocommerce-view-order .addresses .title h3,
.woocommerce-order-received .addresses .title h3
{
	font-size: 13px;
}

.woocommerce-order-received .col2-set .col-1,
.woocommerce-order-received .col2-set .col-1
{
	float: left;
	width: 50%;
}

.woocommerce-order-received .col2-set .col-2,
.woocommerce-order-received .col2-set .col-2
{
	float: left;
	width: 50%;
	margin-top: 0;
}

.woocommerce-order-received .xlarge-6.xlarge-centered > header.title
{
	float: left;
	padding: 0 20px 0 90px;
	margin-top: 33px;
}

.woocommerce-order-received .xlarge-6.xlarge-centered > address
{
	float: left;
	width: 66%;
	padding: 0 20px 0 90px;
}

.woocommerce-view-order .shop_table.customer_details
{
	margin: 25px 0 10px 0;
	float: left;
	width: 33%;
}

.woocommerce-view-order .col2-set.addresses
{
	float: left;
	width: 66%;
	margin-top: 25px;
	padding: 0 20px;
}

.woocommerce-view-order .col2-set .col-1,
.woocommerce-view-order .col2-set .col-1
{
	float: left;
	width: 50%;
	padding: 0 20px 0 70px;
}

.woocommerce-view-order .col2-set .col-2,
.woocommerce-view-order .col2-set .col-2
{
	float: left;
	width: 50%;
	margin-top: 0;
	padding: 0 20px 0 62px;
}

.woocommerce-view-order .xxlarge-6 > header.title
{
	float: left;
	padding: 0 20px 0 90px;
	margin-top: 25px;
}

.woocommerce-view-order .xxlarge-6 > address
{
	float: left;
	width: 66%;
	padding: 0 20px 0 90px;
}

.woocommerce-checkout .content-area h3
{
    font-size: 13px;
	margin:0px 20px 13px 0;
}


.woocommerce .checkout .col-2 h3,
.woocommerce-page .checkout .col-2 h3 {
	margin-bottom: 12px;
}

#ship-to-different-address {
	margin-bottom: 38px;
}

#ship-to-different-address .checkbox.check_label
{
	padding-left: 30px;
}

.woocommerce form .form-row-first,
.woocommerce-page form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {
	width: 48%;
}

.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 0.5rem;
	height: 38px !important;
	border-width: 1px;
	border-style: solid; 
	border-radius: 0;
	background: #fff;
	background-clip: padding-box;
	box-shadow: 0 0 0 #fff inset,0 0 0 rgba(0,0,0,0);
	color: rgba(0, 0, 0, 0.75);
	text-decoration: none;
	white-space: nowrap;
	line-height: 38px !important;
	font-size:1rem;
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-single div b {
	background-position:0px 10px !important;
}

.chosen-container-single .chosen-single div b
{
	background-position:0px 8px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b
{
	background-position:-18px 8px;
}

#order_comments_field textarea
{
	min-height: 100px;
	height: 100px
}

.woocommerce #payment,
.woocommerce-page #payment
{
	background: none;
}

.woocommerce #payment div.payment_box,
.woocommerce-page #payment div.payment_box
{
	background: none;
	border: none;
	box-shadow: none;
}

.woocommerce-checkout #payment div.payment_box:before {
	display: none;
}

.woocommerce #payment div.payment_box:after,
.woocommerce-page #payment div.payment_box:after
{
	display: none;
	box-shadow: none;
}

.woocommerce #payment ul.payment_methods,
.woocommerce-page #payment ul.payment_methods
{
	border: 0;
	padding-left: 0;
	padding-right: 0;
}

.woocommerce #payment ul.payment_methods li,
.woocommerce-page #payment ul.payment_methods li
{
	border-bottom-width: 1px;
	border-bottom-style:solid;
}

.woocommerce #payment ul.payment_methods li:last-child,
.woocommerce-page #payment ul.payment_methods li:last-child
{
	border-bottom: 0;
}



#shipping_method .check_label_radio:before,
#shipping_method .check_label_radio:before
{
	top: 1px;
}

.payment_methods .payment_method_paypal .check_label_radio:before
{
	top: 21px;
}

.woocommerce #payment div.payment_box,
.woocommerce-page #payment div.payment_box
{
	font-size: 0.8125em;
	line-height: 1.538em;
	padding: 0;
	margin: 0;
	width: 100%;
}
.woocommerce #payment div.payment_box p,
.woocommerce-page #payment div.payment_box p
{
	font-size: 12px;
	line-height: 1.4285em;
	padding:0 0 19px 35px;
	margin: -2px 0 13px;
	text-shadow: none;
}

.woocommerce #payment ul.payment_methods li img,
.woocommerce-page #payment ul.payment_methods li img
{
	 margin: -2px 10px 0 6px;
}

.woocommerce #payment .payment_method_paypal .about_paypal,
.woocommerce-page #payment .payment_method_paypal .about_paypal
{
	display: inline-block;
	float: none;
}

.woocommerce #payment div.form-row.place-order,
.woocommerce-page #payment div.form-row.place-order
{
	padding: 19px 0 5px;
	border: medium none;
}

.woocommerce #payment .terms,
.woocommerce-page #payment .terms
{
	text-align: left;
	padding-top: 0;
	padding-left: 0;
	margin-top: 17px;
	margin-bottom: 25px;
}

.woocommerce-page #payment .terms label
{
	font-size: 14px;
	text-transform: none;
	font-weight: normal;
}

.woocommerce-page #payment .terms label a
{
	font-weight: 700;
	text-transform: capitalize;
}


/* Checkout - Your Order */

.order_review_wrapper
{
	padding: 25px 30px 32px;
	margin-top: -25px;
}

.woocommerce form .form-row.create-account,
.woocommerce-page form .form-row.create-account
{
	padding: 15px 0;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table
{
	margin-bottom: 5px;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table td,
.woocommerce-page .shop_table.woocommerce-checkout-review-order-table td
{
	line-height: 1.35;
	padding: 16px 0 14px 0;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table tfoot tr,
.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tfoot tr
{
	border: none;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table tfoot th,
.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tfoot th,
.woocommerce .shop_table.woocommerce-checkout-review-order-table tfoot td,
.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tfoot td
{
	padding-top: 7px;
	vertical-align: top;
	border: none;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table .shipping td:first-child
{
	padding-top: 17px;
	padding-right: 15px;
	line-height: 24px;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table tfoot tr:first-child td,
.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tfoot tr:first-child td,
.woocommerce .shop_table.woocommerce-checkout-review-order-table tfoot tr:first-child th,
.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tfoot tr:first-child th
{
	padding-top: 40px;
}

form.checkout .shop_table.woocommerce-checkout-review-order-table tr:last-child th,
form.checkout .shop_table.woocommerce-checkout-review-order-table tr:last-child td
{
	/*padding-top: 17px !important;*/
}

.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tfoot .order-total .amount
{
	font-size: 1.875rem;
	font-weight: 700;
}

.woocommerce small.includes_tax .woocommerce-Price-amount.amount
{
	font-size: 100% !important;
	font-weight: bold !important;
}

.shop_table.order_details td .woocommerce-Price-amount.amount:last-child 
{
	// font-size: 100% !important;
}

.woocommerce .shop_table.woocommerce-checkout-review-order-table tr th:last-child,
.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tr th:last-child,
.woocommerce .shop_table.woocommerce-checkout-review-order-table tr td:last-child,
.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tr td:last-child
{
	width: 50%;
}

.woocommerce .order_review_wrapper table.shop_table .product-name
{
	font-weight: 700;
	font-size: 13px; 
}

.woocommerce .order_review_wrapper table.shop_table .product-name .product-quantity
{
	font-weight: normal;
}

.woocommerce .order_review_wrapper table.shop_table tfoot tr:first-child td,
.woocommerce-page .order_review_wrapper table.shop_table tfoot tr:first-child td,
.woocommerce .order_review_wrapper table.shop_table tfoot tr:first-child th,
.woocommerce-page .order_review_wrapper table.shop_table tfoot tr:first-child th
{
	border-top: 1px solid;
}

.woocommerce .order_review_wrapper table.shop_table tfoot td,
.woocommerce .order_review_wrapper table.shop_table tfoot th,
.woocommerce-page .order_review_wrapper table.shop_table tfoot td,
.woocommerce-page .order_review_wrapper table.shop_table tfoot th
{
	border-top: none;
	font-weight: bold;
	padding: 8px 0;
	font-size: 13px;
	
}

.woocommerce table.shop_table tfoot td,
.woocommerce-page table.shop_table tfoot td
{
	padding: 0px;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order
{
	width: 100%;
	float: none;
	padding-top: 22px  !important;
	padding-bottom: 21px  !important;
}




/**********************************************************************************/
/* Wishlist ***********************************************************************/
/**********************************************************************************/

.yith-wcwl-add-to-wishlist {
	margin: 0;
}

#yith-wcwl-popup-message
{
	display:none !important;
}

.yith-wcwl-add-button,
.yith-wcwl-wishlistaddedbrowse,
.yith-wcwl-wishlistexistsbrowse {
	font-size:.8125rem;
	font-weight: 700;
	text-transform: uppercase;
	position:relative;
	display:inline-block;
	padding:2px 0 2px 25px;
	cursor:pointer;
}

.yith-wcwl-wishlistaddedbrowse,
.yith-wcwl-wishlistexistsbrowse
{
	cursor: default;
}

.yith-wcwl-wishlistaddedbrowse .feedback,
.yith-wcwl-wishlistexistsbrowse .feedback
{
	text-transform: none;
	font-weight: normal;
}

.add_to_wishlist:before,
.product_infos .yith-wcwl-wishlistaddedbrowse:before,
.product_infos .yith-wcwl-wishlistexistsbrowse:before,
.products .yith-wcwl-wishlistaddedbrowse a:before,
.products .yith-wcwl-wishlistexistsbrowse a:before
{
	font-size:16px;
	width: 18px;
	text-align: center;
	display: inline-block;
	font-family: 'Shopkeeper-Icon-Font';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.yith-wcwl-add-to-wishlist
{
	&:hover
	{
		.add_to_wishlist,
		.yith-wcwl-wishlistaddedbrowse,
		.yith-wcwl-wishlistexistsbrowse
		{
			a:before
			{
				animation: beat .6s ease-in-out infinite;
			}
		}

		.add_to_wishlist
		{
			transition: all .5s;
			
			&:hover
			{
				transition: all .5s;
			}
			
			&:before
			{
				animation: beat .6s ease-in-out infinite;
			}
			
		}
		
	}
	
}
	

.product_infos .add_to_wishlist:before,
.product_infos .yith-wcwl-wishlistaddedbrowse:before,
.product_infos .yith-wcwl-wishlistexistsbrowse:before 
{
	position: absolute;
	left: 0;
	top: 0px;
}

.product_infos .yith-wcwl-wishlistaddedbrowse:before,
.product_infos .yith-wcwl-wishlistexistsbrowse:before,
.products .yith-wcwl-wishlistaddedbrowse a:before,
.products .yith-wcwl-wishlistexistsbrowse a:before
{
	content: "\e904";
	line-height: 18px;
}

.add_to_wishlist:before
{
	content: "\e905";
	line-height: 18px;
}

.yith-wcwl-add-to-wishlist
{
	height: 0;
	// overflow: hidden;
}

.products li a.add_to_wishlist,
.products .yith-wcwl-add-button,
.products .yith-wcwl-wishlistexistsbrowse,
.products .yith-wcwl-wishlistaddedbrowse

{
	font-size: 0;
	line-height: 0;
	padding: 0;
	position: static;
}

.products .add_to_wishlist:before,
.products .yith-wcwl-wishlistaddedbrowse a:before,
.products .yith-wcwl-wishlistexistsbrowse a:before
{
	position:absolute;
	bottom: -36px;
	right:0;
}

.woocommerce .products .star-rating,
.woocommerce-page .products .star-rating
{
	font-size: 10px;
    margin: 0 0 6px;
    top: 2px;
}

.yith-wcwl-add-to-wishlist .ajax-loading
{
	display: none !important;
    position: absolute;
    top: 50%;
	left: 50%;
    margin-left: -8px;
    margin-top: -8px;
}

.products .add_to_wishlist:before
{	
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}

.yith-wcwl-add-button:after
{
	content: '';
	display: inline-block;
	
	background-color: rgba(255, 255, 255, 0.9);
	width: 1px;
	visibility: hidden;
	
	opacity: 0;
	
	transition: opacity 0.3s, width 3s ease 30s, height 0s ease 30s;
	-webkit-transition: opacity 0.3s,width 0s ease 30s, height 0s ease 30s;
}

.product_infos .yith-wcwl-add-button:after
{
	background-color: transparent !important;
}


.products .yith-wcwl-add-button:after
{
	position: absolute;
	top: 0;
	left: 0;
	width: 0px;
	height: 0px;
}

.yith-wcwl-add-button.show_overlay:after
{
	opacity: 1;
	display: inline-block;
	visibility: visible;
	margin-left: 0;
	
	transition: opacity 0.3s, width 0s ease 0s, height 0s ease 0s;
	-webkit-transition: opacity 0.3s,width 0s ease 0s, height 0s ease 0s;
}

.product_infos .yith-wcwl-add-button.show_overlay:after
{
    width: 40px;
	height: 10px;
}

.products .yith-wcwl-add-button.show_overlay:after
{
	position: absolute;
	width: 100%;
	height: 100.1%;
	
}

.products .yith-wcwl-add-button.show_overlay.hide:after
{
	width: 0;
	height: 0;
	opacity: 1;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}


.out_of_stock_button_wrapper .button,
.out_of_stock_button_wrapper .button:hover
{
	background: #ddd !important;
	cursor: default !important;
	box-shadow: none !important;
}

.product_list_widget .wishlist-in-stock
{
	color: #fff;
	border: 2px solid #fff;
	padding: 2px 9px;
	
}

.product_list_widget .wishlist-out-of-stock
{
	color: #98a1c0;
	border: 2px solid #98a1c0;
}

#yith-wcwl-form
{
	width: 100%;
	margin: 0 auto;
}


.wishlist-title 
{
	display: none;
}

.wishlist_table thead
{
	display: none;
}

.wishlist_table tr td,
.wishlist_table tr th
{
	text-align: left;
	padding-left: 0 !important;
}

.woocommerce #content .shop_table.cart.wishlist_table td,
.woocommerce .shop_table.cart.wishlist_table td
{
	padding-top: 30px;
	padding-bottom: 30px;
}

.woocommerce #content .shop_table.cart.wishlist_table tr:first-child td,
.woocommerce .shop_table.cart.wishlist_table tr:first-child td
{
	border-top: none !important;
}

.woocommerce table.cart.wishlist_table td.product-remove
{
	width: 25px;
	min-width: 25px;
	max-width: none;
	text-align: left;
}

.woocommerce #content table.cart.wishlist_table a.remove,
.woocommerce table.cart.wishlist_table a.remove,
.woocommerce-page #content table.cart.wishlist_table a.remove,
.woocommerce-page table.cart.wishlist_table a.remove
{
	font-size: 0;
	float: none;
	
	width: auto;
	height: 18px;
	
	line-height: 18px;
	
	position: relative;
	top: 1px;
}

.wishlist_table .remove:before
{
	content: "\e918";
	display: inline-block;
	font: normal normal normal 18px/1 'Shopkeeper-Icon-Font'; ;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.woocommerce-page table.cart.wishlist_table .product-name,
.woocommerce-page #content table.cart.wishlist_table .product-name
{
	vertical-align: middle;
	padding-right: 15px;
	width: auto
}

.woocommerce-page table.cart.wishlist_table .product-name a,
.woocommerce-page #content table.cart.wishlist_table .product-name a
{
		margin-top: 0;
}

.woocommerce-page table.cart.wishlist_table .product-subtotal,
.woocommerce-page #content table.cart.wishlist_table .product-subtotal,
.woocommerce-page table.cart.wishlist_table .product-stock-status,
.woocommerce-page #content table.cart.wishlist_table .product-stock-status
{
	text-align: left;
}

.woocommerce-page table.cart.wishlist_table .product-subtotal,
.woocommerce-page #content table.cart.wishlist_table .product-subtotal
{
	width: 80px;
}

.woocommerce-page table.cart.wishlist_table .product-stock-status,
.woocommerce-page #content table.cart.wishlist_table .product-stock-status
{
	display: none;
	padding-left: 30px;
}

.wishlist_table tr td.product-stock-status span.wishlist-out-of-stock,
.wishlist_table tr td.product-stock-status span.wishlist-in-stock,
.wishlist-in-stock,
.wishlist-out-of-stock
{
	font-size: 0.6875em;
	padding: 3px 5px;
	font-weight: 900;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 1px;
}

.wishlist_table tr td.product-stock-status span.wishlist-in-stock
{
	color: #000;
	border: 2px solid;
}

.wishlist_table tr td.product-stock-status span.wishlist-out-of-stock
{
	color: #b3b3b3;
	border: 2px solid;
}

.woocommerce table.cart.wishlist_table .product-price,
.woocommerce #content table.cart.wishlist_table .product-price
{
	display: table-cell;
	font-weight: 700;
	padding-right: 15px;
}

.woocommerce-page table.cart.wishlist_table .product-add-to-cart,
.woocommerce-page #content table.cart.wishlist_table .product-add-to-cart
{
	width: 48px;
	padding-right: 0 !important;
}

.wishlist_table .button
{
	min-width: 157px;
}

.product-add-to-cart .button,
.woocommerce .product-add-to-cart a.alt.button
{
    font-size: 0 !important;
	width: 48px;
	height: 48px;
	padding-right:24px !important;
	padding-left:24px !important;
	min-width: 0;
	
	position: relative;
	top: -2px;
}

.product-add-to-cart .button:before,
.woocommerce .product-add-to-cart a.alt.button:before
{
	content: "\f07a";
	display: inline-block;
	font: normal normal normal 18px/1 FontAwesome;
	speak: none;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 15px;
	left: 15px;
}

.woocommerce .wishlist_table a.button.loading:after
{
	position: absolute;
	top: 17px;
	right: 10px;
}

.shop_table.wishlist_table .wc-forward.added_to_cart_button
{
	display: none;
}

.shop_table.wishlist_table .blockUI.blockOverlay
{
	background-color: #fff !important;
}

.shop_table.wishlist_table .blockUI.blockOverlay:before
{
	color:rgba(0,0,0,.75) !important;
}



/**********************************************************************************/
/* Widgets ************************************************************************/
/**********************************************************************************/

.woocommerce .star-rating,
.woocommerce-page .star-rating
{
	margin:5px 0;
	width: 51px;
	font-size: 10px;
}



.woocommerce .star-rating span:before,
.woocommerce-page .star-rating span:before
{
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content: "\f005\f005\f005\f005\f005";
}

.woocommerce .star-rating:before,
.woocommerce-page .star-rating:before {
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content: "\f005\f005\f005\f005\f005";
	color: #a1a1a1;
}

.woocommerce ul.cart_list li dl dt,
.woocommerce-page ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dt,
.woocommerce-page ul.product_list_widget li dl dt
{
	clear:none;
}

.woocommerce ul.cart_list li dl,
.woocommerce-page ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl,
.woocommerce-page ul.product_list_widget li dl
{
	margin:10px 0 0 0;
	padding:0;
	border:0;
	color:#a1a1a1;
}

.woocommerce ul.cart_list li dl dt,
.woocommerce-page ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dt,
.woocommerce-page ul.product_list_widget li dl dt
{
	font-weight:normal;
	text-transform:uppercase;
}

.widget_recent_comments li
{
	font-size: 0.875rem;
}

.widget_recent_comments li a 
{
	font-weight: bold;
	font-size: 0.8125rem;
}

.widget_shopping_cart ul.cart_list li,
.woocommerce .widget_shopping_cart ul.cart_list li
{
	padding: 0;
	padding-left: 0;
	padding-right: 20px;
	margin-bottom: 20px;
}

.widget_shopping_cart ul.cart_list li img
{
	margin-left: 0;
	margin-right: 18px;
}

.widget_shopping_cart ul.cart_list li .quantity,
.widget_shopping_cart ul.cart_list li .quantity .amount
{
	font-size: 0.875rem;
}

.widget_shopping_cart p.total
{
	line-height: 1.5rem;
}

.widget_shopping_cart p.total .amount
{
	font-size: 1.5rem;
}

.widget_shopping_cart ul.cart_list li a.remove,
.woocommerce .widget_shopping_cart ul.cart_list li a.remove
{
	top: 0;
	right: 0;
	left: auto;
}

.widget_shopping_cart .buttons .button
{
	color: #FFF;
	font-size: 0.875rem;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}

.widget_shopping_cart .buttons .button:hover
{
	color: #FFF;
	opacity: .8;
}


.wc-forward a:after,
.wc-forward:after
{
	display: none;
}

.checkout_login
{
	margin-top: 22px;
	margin-bottom: 0px;
}

// .woocommerce .checkout_login label[for="rememberme"].inline,
// .woocommerce .checkout_login .lost_password a
// {
// 	font-size: 1rem;
// }

.checkout_login form.login
{
	margin: 0;
	padding: 24px 0 14px;
	border: none;
}

.woocommerce form.login p:first-child,
.woocommerce-page form.login p:first-child
{
	line-height: 1.5em;
	text-align: center;
	margin: 0px 0px 14px;
}

.woocommerce .checkout_login form.login .form-row-first,
.woocommerce-page .checkout_login form.login .form-row-first,
.woocommerce .checkout_login form.login .form-row-last,
.woocommerce-page .checkout_login form.login .form-row-last,
.checkout_login form.login input[type="submit"]
{
	width: 100%;
}

.checkout_login form.login input[type="submit"]
{
	margin-top: 10px !important;
}

.woocommerce form.login .inline
{
	display: inline-block !important;
	text-transform: none;
	font-weight: normal;
	margin-top:6px;
}

.woocommerce form.login .lost_password
{
	margin-top: -63px;
	font-size: 1rem;
	float: right;
}

.woocommerce form.login .lost_password a
{
	padding-bottom: 0;
}


.woocommerce-checkout .woocommerce-info
{
	font-size: 0.9375rem;
	line-height: 1.6em;
	font-weight: bold;
	text-align: center;
	border: none;
	background: none;
	padding: 10px !important; 
	margin-bottom: 0 !important;
	color: #000 !important;
	font-size: 13px !important; 
	
	a
	{
		text-transform: uppercase;
		font-weight: bold; 
	}
}


.woocommerce-checkout .checkout_coupon_box .woocommerce-info
{
	margin-top: 0 !important;
}

.notice-border-container
{
	height: 3px;
	width: 100px;
	background: #333;
	margin: 2px auto -1px;
}

.woocommerce-checkout .checkout_login .woocommerce-info:before
{
	content: "\e90a";
	font-family: 'Shopkeeper-Icon-Font'; 
	color: #000;
	font-size: 24px;
	position: relative;
	top: 5px;
	left: 0;
	padding-right: 10px; 
}


.woocommerce-checkout .checkout_coupon_box .woocommerce-info:before
{
	content: "\e909";
	font-family: 'Shopkeeper-Icon-Font'; 
	color: #000;
	font-size: 24px;
	position: relative;
	top: 5px;
	left: 0;
	padding-right: 10px; 
}


.woocommerce-checkout .showcoupon,
.woocommerce-checkout .showlogin
{
	font-weight: normal;
	margin-left: 8px;
	margin-top: 10px;
}


.woocommerce form.register,
.woocommerce-page form.register
{
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.woocommerce form.checkout_coupon,
.woocommerce-page form.checkout_coupon
{
	border-top-width: 2px;
	border-top-style:dashed;
	border-bottom-width: 2px;
	border-bottom-style:dashed;
	border-left: none;
	border-right: none;
    padding: 30px;
	margin: 18px -30px 30px;
	border-radius: 0;
	text-align: center;
}

.checkout_coupon_inner
{
	display: block;	
}

form.checkout_coupon #coupon_code
{
	width: 100%;
	height: 49px;
	display: block;
	margin-bottom: 15px;
	background: none;
}

form.checkout_coupon input[type="submit"]
{
	min-width: 160px;
}



.woocommerce-checkout .wc-backward
{
	color: #B81C23;
}



.notice-border-container
{
	overflow: hidden;
	display: none;
}

.notice-border-container img
{
	max-width: none;
}

.woocommerce-tabs [class*="column"]+[class*="column"]:last-child
{
	margin-right: -1px;
}


@keyframes beat {
  0%, 100% { transform: scale(1) }
  50% { transform: scale(1.1) }
}

.woocommerce table.shop_table td.product-total,
.woocommerce-page table.shop_table td.product-total
 {
 	border-top-width: 1px;
 	border-top-style: solid;  
 }

.woocommerce table.shop_table td.product-total,
.woocommerce-page table.shop_table td.product-total
{
	.woocommerce-Price-amount.amount
	{
		font-weight: bold; 
		font-size: 13px; 
	}
}

.woocommerce-checkout-review-order-table
{
	th
	{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 13px!important;  
	}
}



 // new quantity

.quantity
{

    &.custom
    {
        display: inline-block;
        width: auto !important;
        float: none;
        margin-right: 23px; 
    
        input[type="number"] {
            -moz-appearance: textfield;
        }

        .minus-btn,
        .plus-btn
        {
            border:none;
            color:#fff;
            background-color:transparent !important;
            border-style: solid;
            border-width: 2px;  
            height:30px;
            min-width:30px !important;
            padding: 5px !important; 
            border-radius: 50% !important;
            outline: none;
            
            &:hover
            {
                background: none !important; 
                
                @media screen and (min-width: 1025px)
                {
                	opacity: .5; 
                }
            }
        }

        input.custom-qty
        {
            width: 40px;
            border: none; 
            display: inline-block; 
            text-align: center;
            font-weight: bold;
            outline: none;
        }
        .plus 
        {
            border:none;
            color:#fff;
            background-color:purple;
            height:30px;
            width:30px;
        }

        .qty 
        {
            border:1px solid purple;
            color:purple;
            height:30px;
             
        }
        
    }
}

.woocommerce-cart.woocommerce-page #content .quantity input[type="number"] { background-color: transparent !important;}

// new continue shopping btn
.woocommerce-cart 
{
	.shopkeeper-continue-shopping
	{
		text-align: center;
		clear: right;
		width: 35%;
		float: right;
		margin: 0 auto;
		
		.button
		{
			background: transparent!important;
		}
	}
}

.easyzoom.is-loading
{
	&:after
	{
		content: "";
		display: inline-block;
		width: 50px;
		height: 16px;
		background:url('../images/morph-shape-gif-preloader.gif') center no-repeat;
		background-size: auto 15px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -25px; 
		bottom: 0;
		animation: none;
		-webkit-animation: none;
	}
}



.woocommerce table.shop_attributes tr:nth-child(even) td, .woocommerce table.shop_attributes tr:nth-child(even) th
{
	background: none;
}

.woocommerce div.product form.cart .variations td, 
.woocommerce div.product form.cart .variations th
{
	display: block;
}

.wcppec-checkout-buttons.woo_pp_cart_buttons_div
{
	margin: 35px 0 20px;
	padding: 15px 10px 35px;
	text-align: center;
	border: 1px dashed rgba(0,0,0,.2);
}

.wcppec-checkout-buttons__separator
{
	font-size: 12px;
	margin-bottom: 15px;
}

.woocommerce div.product form.cart .variations
{
	margin-bottom: 0;
}


// Checkout

#add_payment_method #payment .payment_method_paypal .about_paypal,
.woocommerce-cart #payment .payment_method_paypal .about_paypal,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal
{
	line-height: inherit;
	font-size: 13px;
	font-weight: normal;
	float: right;
	border-bottom: 1px dashed;
}

.wc_payment_method.payment_method_paypal
{
	img
	{
		display: none !important;
	}

	> label
	{
		display: block !important;
	}
}

.wc_payment_method.payment_method_stripe img
{	
	max-height: 15px;
	margin: -2px 0 0 6px !important;
	
	@media screen and (max-width: 640px)
	{
		float: right;
		margin: 5px 0 0 6px !important;
	}
}

.woocommerce-checkout #payment div.payment_box #wc-stripe-cc-form input 
{
    font-size: 14px !important;
    padding: 1px 15px 0!important;
}


#add_payment_method #payment div.payment_box .wc-credit-card-form,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form
{
	border: 1px dashed;
}

.wc_payment_method.payment_method_stripe .payment_box.payment_method_stripe #stripe-payment-data #wc-stripe-cc-form .form-row.form-row-wide 
{
    padding: 35px 35px 0 35px;
}

.wc_payment_method.payment_method_stripe .payment_box.payment_method_stripe #stripe-payment-data #wc-stripe-cc-form .form-row.form-row-first 
{
    padding: 0 2px 35px 35px;
}

.wc_payment_method.payment_method_stripe .payment_box.payment_method_stripe #stripe-payment-data #wc-stripe-cc-form .form-row.form-row-last
{
    padding: 0 35px 35px 2px;
}

.wc_payment_method.payment_method_stripe .payment_box.payment_method_stripe #stripe-payment-data #wc-stripe-cc-form .form-row.form-row-last input
{
    width: 100% !important;
}

#stripe-payment-data > p,
ul.wc_payment_methods.payment_methods.methods li.wc_payment_method > label 
{
	padding-left: 35px !important;
}

#stripe-payment-data > p > a
{ 
	position: relative;
}

#stripe-payment-data > p > a:after 
{ 
	position: absolute;
	bottom: -5px;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	border: 1px dashed;
}

.checkout_right_wrapper
{
	.order_review_wrapper
	{
		.woocommerce-checkout-review-order-table
		{
			tr
			{
				th.product-total
				{
					text-align: right;
				}

				&.cart_item
				{
					td.product-total
					{
						text-align: right;
					}
				}
			}
		}
	}
}

.order_review_wrapper
{
	.woocommerce-checkout-review-order-table
	{
		.cart-subtotal
		{
			> th
			{
				width: 50%;
			}
		}
	}
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li
{
	line-height: 16px;
	padding: 17px 0 0;
}

.wc-credit-card-form
{
	label
	{
		font-size: 13px !important;
		margin-bottom: 5px !important;
	}
}

#add_payment_method #payment div.payment_box .wc-credit-card-form-card-cvc,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-expiry,
#add_payment_method #payment div.payment_box .wc-credit-card-form-card-number,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-cvc,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-expiry,
.woocommerce-cart #payment div.payment_box .wc-credit-card-form-card-number,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number
{
	padding: 15px;
}

.checkout_right_wrapper .order_review_wrapper .woocommerce-checkout-review-order-table tr.shipping > th,
.checkout_right_wrapper .order_review_wrapper .woocommerce-checkout-review-order-table tr.cart-subtotal > th,
.checkout_right_wrapper .order_review_wrapper .woocommerce-checkout-review-order-table tr.order-total > th
{
	padding-right: 15px;
}


@media screen and (max-width: 768px) 
{
	.woocommerce .cart-collaterals .cart_totals table.shop_table_responsive tr td::before, 
	.woocommerce-page .cart-collaterals .cart_totals table.shop_table_responsive tr td::before
	{
		text-transform: uppercase; 
	}

}

.woocommerce-lost-password .woocommerce-ResetPassword.lost_reset_password .woocommerce-form-row 
{
	width: 100%; 
}

.woocommerce .order_details
{
	margin: 0;
}

// Woocommerce Order Received

.woocommerce-order-received .shop_table.order-details
{
	margin: 21px 0 70px  0 !important;
}

.woocommerce-order-received h2
{
	font-size: 1.25rem;
}

.woocommerce-order-received.woocommerce-checkout header h3 
{
	margin-bottom: 25px;
	font-size: 0.8125rem;
}

.woocommerce-order-received .woocommerce table.shop_table tfoot th, 
.woocommerce-order-received .woocommerce-page table.shop_table tfoot th,
.woocommerce-order-received .woocommerce table.shop_table tfoot td, 
.woocommerce-order-received .woocommerce-page table.shop_table tfoot td
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px; 
}

.woocommerce-thankyou-order-received
{
	margin: 10px -500px 0;
	padding: 20px 500px 17px;
	background: #8cbd8c;
	position: relative;
	font-size: 1rem;
	font-weight: 700;
	color: #fff;
	text-align: center;
}

.woocommerce-thankyou-order-received:before
{
	content: "\f00c";
	display: inline-block;
	margin-right:10px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.order_details li.order,
.order_details li.total,
.order_details li.date,
.order_details li.method
{

	@media screen and (max-width: 640px)
	{
	
		display: block;
		width: 50% !important;
		margin-right: 0 !important;
		
	}

	@media screen and (max-width: 1024px)
	{
		// padding: 0 45px;
		width: 25%; 
	}

	

	@media screen and (min-width: 1024px)
	{
		padding: 0 45px;
		width: auto; 
		float: none;
		display: inline-block;
	}

}

.woocommerce-customer-details
{
	margin-top: 50px;
	
	.woocommerce-column__title
	{
		font-size: 13px !important;
	}

	
	> h2
	{
		margin-bottom: 13px; 
	}
	
	@media screen and (min-width: 1024px)
	{
		margin-top: 100px;
	} 
}

.woocommerce-order-received .col2-set.addresses
{
	@media screen and (max-width: 1024px)
	{
		margin-top: 30px !important; 	
	}

	@media screen and (min-width: 1024px)
	{
		padding-left: 50px;
	}
}

.woocommerce-thankyou-order-details
{
	text-align: center;
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 7px;
	display:block;
}

.woocommerce .woocommerce-thankyou-order-details li
{
	margin-right: 0;
	padding-right: 0;
}
 .woocommerce-thankyou-order-details li
{
	width: 40%;
	padding: 0;
	margin: 0;
	margin-bottom: 24px !important;
	border: none !important;
	font-size: 0.8125rem;
    font-weight: 700;
    margin-bottom: 6px;
	text-align: left;
}

 .woocommerce-thankyou-order-details li.method
{
	margin-right: 0;
}

.woocommerce   .woocommerce-thankyou-order-details li strong,
.woocommerce-page   .woocommerce-thankyou-order-details li strong
{
	font-size: 1.125rem !important;
	font-weight: normal;
	margin-top: 6px;
	
}

.woocommerce-checkout .woocommerce-thankyou-order-details.bacs_details li.total,
.woocommerce-thankyou-order-details li.total
{
	clear: left;
}


.woocommerce-thankyou-order-details + p
{
	margin-bottom: 46px;
	margin-top: 50px;
	font-size: 1rem;
}


.woocommerce-order-details,
.woocommerce-bacs-bank-details
{
	margin: 0 auto;
}

.woocommerce-thankyou-order-details.bacs_details
{
	margin-bottom: 0;
}

@media screen and (max-width: 768px)
{
	.woocommerce-thankyou-order-details + p,
	.wc-bacs-bank-details-heading,
	.woocommerce-order-details,
	.woocommerce-bacs-bank-details
	{
		width: 100%;
	}

	.woocommerce-order-received h2.wc-bacs-bank-details-heading
	{
		margin-bottom: 44px;
	}

	.woocommerce-customer-details
	{
		margin-top: 70px;
	}
}

@media screen and (min-width: 1024px)
{
	.woocommerce-thankyou-order-details + p,
	.woocommerce-order-details,
	.woocommerce-bacs-bank-details
	{
		width: 66.66667%;
	}

	.wc-bacs-bank-details-heading
	{
		margin: 30px 0;
	}
}

@media screen and (min-width: 80em)
{
	.woocommerce-thankyou-order-details + p,
	
	.woocommerce-order-details,
	.woocommerce-bacs-bank-details
	{
		width: 50%;
	}
}

.woocommerce-bacs-bank-details
{
	h3.wc-bacs-bank-details-account-name
	{
		font-size: 16px !important; 
	}
}

.woocommerce-thankyou-order-details.bacs_details li
{
	font-size: 0.8125rem;
	font-weight: 700;
	margin-bottom: 24px;
	clear: left;
	border:none;
	font-weight: bold;
}

.woocommerce-thankyou-order-details.bacs_details li strong
{
	font-weight: normal;
	font-size: 1rem;
	display: block;
	margin-top: 5px;
}

.woocommerce-checkout .content-area .billing_shipping_address_title
{
	margin-top: 22px;
}

.woocommerce-checkout .shipping_billing_wrapper .columns:last-of-type
{
	margin-top: 15px;
}

.woocommerce-order-received .woocommerce-thankyou-order-details
{
	margin-bottom: 100px; 
}

.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after
{
	display: none;
}


.woocommerce td.product-name .wc-item-meta p, 
.woocommerce td.product-name .wc-item-meta:last-child,
.woocommerce td.product-name dl.variation p,
.woocommerce td.product-name dl.variation:last-child
{
	margin: 0;
	font-size: 1em; 
}

.woocommerce ul.order_details li
{
	float: none;
	line-height: 1.3; 
	margin-right: 20px; 
	font-size: 13px; 
	font-weight: bold;
	
	> strong
	{
		font-weight: normal;
	}
	
	&:last-child
	{
		margin-right: 0;
		padding-right: 0;
	}
	
	
	@media (max-width: 767px)
	{
		float: left;
		margin-right: 0;
		padding-right: 0;
	}
	
}

.woocommerce .wc-bacs-bank-details > li
{
	padding: 17px 2em 10px 0; 
	
	@media (max-width: 768px)
	{
		float: none !important;
		display: block;
		border-right: none !important;
		
	}

	@media (min-width: 1024px)
	{
		float: none !important;
		display: inline-block;
	}
	
	
}

.woocommerce-thankyou-order-details.order_details
{
	margin: 0 -100px 50px !important;
	
	@media (max-width: 1023px)
	{   
		margin: 0 -60px 50px !important;
		padding: 60px;
	}

	@media (max-width: 640px)
	{
		margin: 0 -30px 50px !important;
		padding: 40px 30px 10px!important;
	}
	
	@media (min-width: 1024px)
	{	
		margin: 0 -500px 110px!important;
	}

    
	.wc-item-meta
	{
		margin: 0;
	}
	
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images
{
	width: 100%;
	float: none; 
}

.woocommerce-remove-coupon
{
	font-size: 0;
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    
	&:after
	{
		content: "\e918";
	    font-family: 'Shopkeeper-Icon-Font';
	    font-size: 16px;
	    font-weight: normal;
	    display: inline-block;
	    vertical-align: middle;
	}
}

.woocommerce-view-order
{
	.woocommerce-MyAccount-content
	{
		.woocommerce-order-details
		{
			width: 100%; 
			
			h2.woocommerce-order-details__title
			{
				font-size: 23px; 
				text-transform: uppercase; 
			}
			
			.woocommerce-table--order-details
			{
				tr
				{
					th,td 
					{
						font-size: 13px;
						font-weight: bold;
						text-transform: uppercase;  
					}

					a
					{
						text-transform: capitalize;
						font-size: 16px;  
					}
				}
				
			}
		}

		.woocommerce-customer-details
		{
			> h2
			{
				font-size: 23px;
				text-transform: uppercase;  
			}

			h3
			{
				text-transform: uppercase; 
			}
		}
	}
}

.woocommerce .shop_sidebar .widget_shopping_cart .total strong,
.shop_sidebar .woocommerce.widget_shopping_cart .total strong
{
	text-transform: uppercase;
	font-size: 14px;  
	font-weight: normal;
}

.shop_sidebar .woocommerce.widget_shopping_cart p.buttons .button.wc-forward:not(.checkout)
{
	background: none !important; 
	color: #EC7A5C;
}




.woocommerce-order-pay 
{
	#order_review
	{
		
	
		background: rgba(0,0,0,0.05); 
		max-width: 482px;
		margin: 0 auto;
		padding: 40px; 
		position: relative;
		width: 100%;

		&:before,
		&:after
		{
			content: "";
			display: block;
			height: 10px;
		    width: 100%;
			background-color: transparent;
			background-size: 20px 20px;
			background-position: 0 10px, 40px 40px;
		}

		&:before
		{
			position: absolute;
		    top: -10px;
			left: 0;
		}

		&:after
		{
			position: absolute;
		    bottom: -10px;
			left: 0;
			transform:rotate(180deg);
		}
		
		.shop_table
		{
			tr
			{
				&.order_item
				{
					td
					{
						padding: 0;
						font-weight: bold;
						font-size: 13px; 
						border-bottom: 1px solid rgba(0,0,0,0.15);
						
						
						&.product-name
						{
							padding: 10px 0; 
						}

						&.product-quantity
						{
							min-width: inherit;
							
							strong
							{
								color: #08121F;
								font-weight: normal;
							}
						}
					}

					&:first-child
					{
						td
						{
							border-top: 1px solid rgba(0,0,0,0.15);
						} 
					}
				}
				

				th
				{
					 
					&.product-total
					{
						text-align: right;
					}

					&.product-quantity
					{
						opacity: 0;
						visibility: hidden; 
					}
				}

				td
				{
					border-top: none; 
					
					&.product-subtotal,
					&.product-total
					{
						text-align: right;
					}
				}
			}

			tfoot
			{
				tr:first-child th
				{
					padding-top: 40px; 
					width: 50%; 
				}

				tr:first-child td
				{
					padding-top: 35px; 
				}

				th
				{
					text-transform: uppercase; 
				}

				td.product-total
				{
					text-align: left;
				}

				th, td
				{
					padding: 0 0 20px;
					font-size: 13px;
					line-height: 16px; 
				}

				tr:last-child 
				{
					th
					{
						vertical-align: top;
					}

					td
					{
						line-height: inherit;
						 
						span
						{
							font-size: 30px; 
							line-height: 41px; 
							display: inline-block;
							margin-top: -8px; 
						}
					}
					
				}

			}
		
		}
	}

	.woocommerce
	{
		max-width: 514px;
		margin: 0 auto; 
		
		.woocommerce-info
		{
			position: inherit;
			box-shadow: none;  
			animation: none; 
			margin: 0 auto;
			width: 100%; 
			height: auto;
			min-height: auto;  
			text-align: center;
			font-weight: normal;
			line-height: 24px;
			
			@media (min-width: 640px)
			{
				padding: 0 100px !important; 
			}
		}

		.woocommerce-form-login
		{
			border: none; 
			margin-top: 40px; 
			
			p.form-row
			{
				display: block;
				float: none;
				width: 100%;
				margin: 0; 
				padding-bottom: 10px; 
				
				label
				{
					text-align: left;
					
					&.woocommerce-form__label-for-checkbox
					{
						margin-top: 10px;
						 
						span
						{
							text-transform: uppercase; 
							line-height: 26px;
							font-size: 13px;
							font-weight: bold;
						}
					}
				}

				input.button
				{
					display: block;
					width: 100%; 
				}

				&.form-row-last
				{
					padding-bottom: 15px; 
				}
			}

			p.lost_password
			{
				text-transform: uppercase;
				margin-top: -70px; 
			    
			    a
			    {
			    	font-size: 13px;
				    float: right;
				    line-height: 1.5em;
				    padding-bottom: 3px;
				    white-space: nowrap;
				    text-transform: uppercase;
				    font-weight: bold; 
				    line-height: 26px;
			    }
			}
		}
	}

	

}

// My Account Orders

.woocommerce table.my_account_orders .woocommerce-orders-table__cell-order-actions .button,
.woocommerce-MyAccount-content .woocommerce-pagination .woocommerce-button
{
	display: inline-block;
	background: none!important;
	padding: 13px 0 11px !important;
	margin: 0;  
	min-width: auto;
	width: auto; 
	
	
}

@media (max-width: 768px)
{
	.woocommerce table.my_account_orders .woocommerce-orders-table__cell-order-actions .button
	{
		padding-top: 0 !important;
	}

	.woocommerce-MyAccount-content .woocommerce-pagination
	{
		margin-top: 35px; 
	}

	.woocommerce table.shop_table_responsive tr,
	.woocommerce-page table.shop_table_responsive tr
	{
		margin-bottom: 30px;
	}
}


.woocommerce table.my_account_orders .button:first-child
{
	padding-left: 30px;
}

.woocommerce table.my_account_orders .button:last-child:after
{
	content: "";
	padding: 0; 
}

.woocommerce table.my_account_orders .button:after
{
	content: '/';
	padding: 0 10px;
	color: #E6E6E6;
}

.woocommerce table.my_account_orders .button:hover,
.woocommerce-MyAccount-content .woocommerce-pagination .woocommerce-button:hover
{
	color: #000 !important;
}

.woocommerce-MyAccount-content .woocommerce-orders-table__cell-order-number a
{
	font-weight: bold;
	font-size: 13px;
}

.woocommerce table.my_account_orders tbody tr:last-child td
{
	border-bottom: 1px solid rgba(0,0,0,.1); 
}

.woocommerce table.my_account_orders tbody tr td
{
	padding-left: 0;
}


.woocommerce-MyAccount-content .woocommerce-pagination
{
	.woocommerce-button
	{
		&:before,
		&:after
		{
			font-family: FontAwesome; 
			font-size: 12px;
			line-height: 16px;
			font-weight: lighter;
		}

		&.woocommerce-button--previous
		{
			margin-right: 40px;
			
			&:before
			{
				content: "\f053";
				margin-right: 8px; 
			}
		}

		&.woocommerce-button--next
		{
			&:after
			{
				content: "\f054";
				margin-left: 8px;
			}
		}
	}
	
}

// Woocommerce Login Form

.woocommerce form .form-row label.inline
{
	display: inline-block;
    padding-top: 0;
    position: relative;
    top: -7px;
    
	input.woocommerce-Input
	{
		margin-right: 5px;
	    margin-bottom: 0;
	}
}

.woocommerce-checkout .checkout_login form.login input[type="submit"]
{
	margin-bottom:13px;
}

.woocommerce-checkout .woocommerce form.login .inline
{
	text-transform: uppercase;
	font-weight: bold; 
}

.woocommerce-checkout .woocommerce-form__input-checkbox
{
	margin-right: 5px; 
}

.woocommerce-checkout .woocomerce-form.woocommerce-form-login.login input[type="submit"]
{
	margin-bottom: 24px; 
}

.woocommerce-account .login-register-container .account-forms input[type="submit"]
{
	margin-bottom: 30px;
}

.woocommerce-account .form-footer br
{
	display: none;
}

.woocommerce form.login .lost_password
{
	font-weight: bold;
	text-transform: uppercase; 
}

.select2-container .select2-choice .select2-arrow b
{
	display: none;
}

.woocommerce .woocommerce-terms-and-conditions p,
.woocommerce-page .woocommerce-terms-and-conditions p
{
	font-size: 12px; 
}