@font-face {
  font-family: 'Shopkeeper-Icon-Font';
  src:
    url('fonts/Shopkeeper-Icon-Font.woff2?m6hrwj') format('woff2'),
    url('fonts/Shopkeeper-Icon-Font.ttf?m6hrwj') format('truetype'),
    url('fonts/Shopkeeper-Icon-Font.woff?m6hrwj') format('woff'),
    url('fonts/Shopkeeper-Icon-Font.svg?m6hrwj#Shopkeeper-Icon-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Shopkeeper-Icon-Font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spk-icon-naver-line-logo:before {
  content: "\e91f";
}
.spk-icon-close-thin-large:before {
  content: "\e91a";
}
.spk-icon-down-arrow-thin-large:before {
  content: "\e91b";
}
.spk-icon-left-arrow-thin-large:before {
  content: "\e91c";
}
.spk-icon-right-arrow-thin-large:before {
  content: "\e91d";
}
.spk-icon-up-arrow-thin-large:before {
  content: "\e91e";
}
.spk-icon-menu-filters:before {
  content: "\e919";
}
.spk-icon-down-small:before {
  content: "\e914";
}
.spk-icon-left-small:before {
  content: "\e915";
}
.spk-icon-right-small:before {
  content: "\e916";
}
.spk-icon-up-small:before {
  content: "\e917";
}
.spk-icon-video-player:before {
  content: "\e911";
}
.spk-icon-minus-circle:before {
  content: "\e912";
}
.spk-icon-plus-circle:before {
  content: "\e913";
}
.spk-icon-load-more:before {
  content: "\e90e";
}
.spk-icon-reload:before {
  content: "\e90f";
}
.spk-icon-loader-arrow:before {
  content: "\e910";
}
.spk-icon-diamond:before {
  content: "\e90d";
}
.spk-icon-coupon:before {
  content: "\e909";
}
.spk-icon-spk_error:before {
  content: "\e90b";
}
.spk-icon-spk_check:before {
  content: "\e90c";
}
.spk-icon-warning:before {
  content: "\e900";
}
.spk-icon-close:before {
  content: "\e918";
}
.spk-icon-arrow-left:before {
  content: "\e901";
}
.spk-icon-arrow-right:before {
  content: "\e902";
}
.spk-icon-view:before {
  content: "\e903";
}
.spk-icon-heart-full:before {
  content: "\e904";
}
.spk-icon-heart:before {
  content: "\e905";
}
.spk-icon-cart-shopkeeper:before {
  content: "\e908";
}
.spk-icon-menu:before {
  content: "\e906";
}
.spk-icon-search:before {
  content: "\e907";
}
.spk-icon-user-account:before {
  content: "\e90a";
}
