@import "variables";

@font-face {
  font-family: 'Shopkeeper-Icon-Font';
  src:
    url('#{$icomoon-font-path}/Shopkeeper-Icon-Font.woff2?m6hrwj') format('woff2'),
    url('#{$icomoon-font-path}/Shopkeeper-Icon-Font.ttf?m6hrwj') format('truetype'),
    url('#{$icomoon-font-path}/Shopkeeper-Icon-Font.woff?m6hrwj') format('woff'),
    url('#{$icomoon-font-path}/Shopkeeper-Icon-Font.svg?m6hrwj#Shopkeeper-Icon-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Shopkeeper-Icon-Font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spk-icon-naver-line-logo {
  &:before {
    content: $spk-icon-naver-line-logo;
  }
}
.spk-icon-close-thin-large {
  &:before {
    content: $spk-icon-close-thin-large;
  }
}
.spk-icon-down-arrow-thin-large {
  &:before {
    content: $spk-icon-down-arrow-thin-large;
  }
}
.spk-icon-left-arrow-thin-large {
  &:before {
    content: $spk-icon-left-arrow-thin-large;
  }
}
.spk-icon-right-arrow-thin-large {
  &:before {
    content: $spk-icon-right-arrow-thin-large;
  }
}
.spk-icon-up-arrow-thin-large {
  &:before {
    content: $spk-icon-up-arrow-thin-large;
  }
}
.spk-icon-menu-filters {
  &:before {
    content: $spk-icon-menu-filters;
  }
}
.spk-icon-down-small {
  &:before {
    content: $spk-icon-down-small;
  }
}
.spk-icon-left-small {
  &:before {
    content: $spk-icon-left-small;
  }
}
.spk-icon-right-small {
  &:before {
    content: $spk-icon-right-small;
  }
}
.spk-icon-up-small {
  &:before {
    content: $spk-icon-up-small;
  }
}
.spk-icon-video-player {
  &:before {
    content: $spk-icon-video-player;
  }
}
.spk-icon-minus-circle {
  &:before {
    content: $spk-icon-minus-circle;
  }
}
.spk-icon-plus-circle {
  &:before {
    content: $spk-icon-plus-circle;
  }
}
.spk-icon-load-more {
  &:before {
    content: $spk-icon-load-more;
  }
}
.spk-icon-reload {
  &:before {
    content: $spk-icon-reload;
  }
}
.spk-icon-loader-arrow {
  &:before {
    content: $spk-icon-loader-arrow;
  }
}
.spk-icon-diamond {
  &:before {
    content: $spk-icon-diamond;
  }
}
.spk-icon-coupon {
  &:before {
    content: $spk-icon-coupon;
  }
}
.spk-icon-spk_error {
  &:before {
    content: $spk-icon-spk_error;
  }
}
.spk-icon-spk_check {
  &:before {
    content: $spk-icon-spk_check;
  }
}
.spk-icon-warning {
  &:before {
    content: $spk-icon-warning;
  }
}
.spk-icon-close {
  &:before {
    content: $spk-icon-close;
  }
}
.spk-icon-arrow-left {
  &:before {
    content: $spk-icon-arrow-left;
  }
}
.spk-icon-arrow-right {
  &:before {
    content: $spk-icon-arrow-right;
  }
}
.spk-icon-view {
  &:before {
    content: $spk-icon-view;
  }
}
.spk-icon-heart-full {
  &:before {
    content: $spk-icon-heart-full;
  }
}
.spk-icon-heart {
  &:before {
    content: $spk-icon-heart;
  }
}
.spk-icon-cart-shopkeeper {
  &:before {
    content: $spk-icon-cart-shopkeeper;
  }
}
.spk-icon-menu {
  &:before {
    content: $spk-icon-menu;
  }
}
.spk-icon-search {
  &:before {
    content: $spk-icon-search;
  }
}
.spk-icon-user-account {
  &:before {
    content: $spk-icon-user-account;
  }
}

